{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}{% if option.pk %}{{ attribute }}{% else %}{% trans 'Add new option' %}{% endif %} - {% trans "Options" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-options{% endblock %}

{% block header_menu %}
    {% url "dashboard:product-options" as url %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block header_extra %}
    {% if option.pk %}
        <a class="dropdown-button" href="#" data-activates="option-delete" data-constrainwidth="false">
            <i class="mdi-navigation-more-vert"></i>
        </a>
        <ul id="option-delete" class="dropdown-content">
            <li>
                <a class="modal-trigger-custom" href="#base-modal"
                   data-href="{% url 'dashboard:product-option-delete' pk=option.pk %}">
                    {% trans "Remove option" %}
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url 'dashboard:product-options' %}">{% trans "Options" %}</a></li>
        <li>{% if option.pk %}{{ option }}{% else %}{% trans 'Add new option' %}{% endif %}</li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" id="form-options">
        <div class="row">
            <div class="col l8">
                <div class="row">
                    {% csrf_token %}
                    {#                    {{ form }}#}
                    {% for field in form.visible_fields %}
                        <td{% if forloop.last %} class="center-align"{% endif %}>
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field|materializecss }}
                            {#                                    {{ field }}#}
                        </td>
                    {% endfor %}

                    {#                    {{ form.title|materializecss }}#}
                    {#                    {{ form.image|materializecss }}#}
                </div>

                <h5>{% trans "Option values" %}</h5>
                {{ formset.management_form }}
                {{ formset.non_form_errors.as_ul }}
                <table id="formset" class="highlight">
                    {% for form in formset.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr>
{#                        {{ form }}#}
                            {% for field in form.visible_fields %}
                                <td{% if forloop.last %} class="center-align"{% endif %}>
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
{#                                                                        {{ field|materializecss }}#}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col l8 right-align">
                {% if option.pk %}
                    <button type="submit" class="btn">{% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn">{% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
