{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}

{% block title %}{% trans "Options" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-options{% endblock %}

{% block header_extra %}
    <div class="fixed-action-btn">
        <a class="btn-fab btn-floating btn-large waves-effect waves-light teal"
            href="{% url 'dashboard:product-option-add' %}" title="{% trans "Add option" %}">
            <i class="mdi-content-add"></i>
        </a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>{% trans "Options" %}</li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            {% if options %}
                <ul class="collection list list--options">
                    {% for option in options %}
                        <li class="collection-item list-item list--options-item list-item--two-lines">
                            <a class="list-item-name" href="{% url 'dashboard:product-option-update' pk=option.pk %}">{{ option.title }}</a>
                            <p class="list-item-desc">
                                    {% for value in option.values.all %}
                                    {{ value }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "No options found." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
