{% load i18n %}
{% load cart_product_image %}

<div class="btn-group dropdown-cart" >
    <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
        <span class="cart-menu-icon"></span>
        {% if request.cart %}{{ request.cart.count }} {% else %} 0 {% endif %} {% trans "Item" %}(s) <span class="drop-price total-cart"> $0.00</span>
    </button>
    <div class="dropdown-menu dropdown-cart-menu pull-right clearfix" role="menu">
        <p class="dropdown-cart-description">{% trans "Shopping cart" %}</p>
        <ul class="dropdown-cart-product-list">
            {% for item in request.cart %}

                <li class="item clearfix">
                    <a href="#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a>
                    <a href="{% url "cart:index" %}" title="Edit item" class="edit-item"><i class="fa fa-pencil"></i></a>
                    <figure>
                        <a href="{% url 'product:details' slug=item.data.product_slug product_id=item.data.product_id %}">
                            <img src="{{ item.data.product_id|product_image_url  }}" alt="phone 4">
                        </a>
                    </figure>
                    <div class="dropdown-cart-details">
                        <p class="item-name">
                            <a href="{% url 'product:details' slug=item.data.product_slug product_id=item.data.product_id %}">{{ item.product }}</a>

                        </p>
                        <p>
                            {% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}
                            <span class="item-price">${{ item.data.unit_price_gross }} </span>
                            <input type="hidden" class="item-cart-sub-total" value="{{ item.get_total.0 }}"/>
                        </p>
                    </div><!-- End .dropdown-cart-details -->
                </li>

            {% endfor %}
        </ul>

        <ul class="dropdown-cart-total">
            <!--<li><span class="dropdown-cart-total-title">Shipping:</span>$7</li>-->
            <li><span class="dropdown-cart-total-title">Total:</span><span class="total-cart">$ 00.00</span></li>
        </ul><!-- .dropdown-cart-total -->
        <div class="dropdown-cart-action">
            <p><a href="{% url "cart:index" %}" class="btn btn-custom-2 btn-block">{% trans 'Cart' %}</a></p>
            <p><a href="{% url "checkout:index" %}" class="btn btn-custom btn-block">{% trans 'Checkout' %}</a></p>
        </div><!-- End .dropdown-cart-action -->

    </div><!-- End .dropdown-cart -->
</div><!-- End .btn-group -->