{% load i18n %}
{% load cart_product_image %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
<header id="header" class="header6">
    <div id="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-top-left">
                        <ul id="top-links" class="clearfix">
                            {% include '_top_menu.html' %}
                        </ul>
                    </div><!-- End .header-top-left -->
                    <div class="header-top-right">

                        <div class="header-top-dropdowns pull-right">
                            {% include '_dropdown_money.html' %}
                            {% include '_dropdown_language.html' %}
                        </div><!-- End .header-top-dropdowns -->

                        <div class="header-text-container pull-right">
                            <p class="header-text">Welcome to eCommerce</p>
                            <p class="header-link"><a href="#">{% trans 'login' %}</a>&nbsp;or&nbsp;<a href="#">{% trans 'create an account' %}</a></p>
                        </div><!-- End .pull-right -->
                    </div><!-- End .header-top-right -->
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #header-top -->

    <div id="inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 logo-container">
                    <h1 class="logo clearfix">
                        <span>Responsive eCommerce </span>
                        <a href="/" title="Context Responsive Ecommerce"><img src="/static/image/logo_context.png" alt="Context Commerce" width="200" height="54"></a>
                    </h1>
                </div><!-- End .col-md-3 -->
                <div class="col-md-9 col-sm-9 col-xs-12 header-inner-right">
                    <div class="header-inner-right-wrapper clearfix">

                        <div class="dropdown-cart-menu-container pull-right">
                            {% include '_dropdown_cart.html' %}
                        </div><!-- End .dropdown-cart-menu-container -->

                        <div id="quick-access">
                            {% include '_search.html' %}
                        </div><!-- End #quick-access -->


                        <div class="header-box contact-infos pull-right">
                            <ul>
                                <li><span class="header-box-icon header-box-icon-skype"></span>context</li>
                                <li><span class="header-box-icon header-box-icon-email"></span><a href="mailto:contacto@context.com.ar">contacto@context...</a></li>
                            </ul>
                        </div><!-- End .contact-infos -->

                        <div class="header-box contact-phones pull-right clearfix">
                            <span class="header-box-icon header-box-icon-earphones"></span>
                            <ul class="pull-left">
                                <li>+(549) 351 70 37 107</li>
                                <li>+(549) 351 70 37 107</li>
                            </ul>
                        </div><!-- End .contact-phones -->
                    </div><!-- End .header-inner-right-wrapper -->
                </div><!-- End .col-md-7 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div id="main-nav-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 clearfix">

                        <nav id="main-nav">
                            <div id="responsive-nav">
                                <div id="responsive-nav-button">
                                    Menu <span id="responsive-nav-button-icon"></span>
                                </div><!-- responsive-nav-button -->
                            </div>
                            <div class="menu-table">
                                <ul class="menu clearfix">
                                    {% show_menu 0 1 100 100 "menu.html" %}
                                    <li class="mega-menu-container"><a href="#">{% trans 'CATEGORIES' %}</a>
                                        <div class="mega-menu clearfix">
                                            {% for category in categories %}
                                                <div class="col-5">
                                                    <a href="{{ category.get_absol}}" class="mega-menu-title">{{ category }}</a>
                                                    <ul class="mega-menu-list clearfix">
                                                        {% for cat in category.children.all %}
                                                            <li><a href="{{ cat.get_absolute_url }}" >{{ cat }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endfor %}
                                        </div><!-- End .mega-menu -->
                                    </li>
                                </ul>
                            </div>

                        </nav>

                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

        </div><!-- End #nav -->
    </div><!-- End #inner-header -->
</header><!-- End #header -->
