{% load i18n %}

{% load cms_tags staticfiles sekizai_tags menu_tags %}
{#<header id="header" class="header1">#}
{#    <div id="header-top">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="header-top-left">#}
{#                        <ul id="top-links" class="clearfix">#}
{#                            <li><a href="{% url "user-favorites" %}" title="My Wishlist"><span class="top-icon fa fa-heart"></span><span class="hide-for-xs">{% trans "Your favorites" %}</span></a></li>#}
{#                            <li><a href="{% url "profile:orders" %}" title="My Wishlist"><span class="top-icon top-icon-pencil"></span><span class="hide-for-xs">{% trans "Your orders" %}</span></a></li>#}
{#                            <li><a href="{% url "profile:details" %}" title="My Account"><span class="top-icon top-icon-user"></span><span class="hide-for-xs">{% trans "Your profile" %}</span></a></li>#}
{#                            <li><a href="{% url "cart:index" %}" title="My Cart"><span class="top-icon top-icon-cart"></span><span class="hide-for-xs">{% trans "My cart" %}</span></a></li>#}
{#                            <li><a href="{% url "checkout:index" %}" title="Checkout"><span class="top-icon top-icon-check"></span><span class="hide-for-xs">{% trans "Checkout" %}</span></a></li>#}
{#                        </ul>#}
{#                    </div><!-- End .header-top-left -->#}
{#                    <div class="header-top-right">#}
{#                        <div class="header-text-container pull-right">#}
{##}
{#                            {% if user.is_authenticated %}#}
{#                                <p class="header-text">Welcome to {{ user }}!</p>#}
{#                                <p class="header-link"><a href="{% url "registration:logout" %}">{% trans "Log out" %}</a></p>#}
{#                            {% else %}#}
{#                                <p class="header-text">Welcome to Commerce!</p>#}
{#                                <p class="header-link"><a href="{% url "registration:login" %}">{% trans "Log in" %}</a>&nbsp;or&nbsp;<a href="{% url 'registration:request_email_confirmation' %}">{% trans "Register" %}</a></p>#}
{#                            {% endif %}#}
{#                        </div><!-- End .pull-right -->#}
{#                    </div><!-- End .header-top-right -->#}
{#                </div><!-- End .col-md-12 -->#}
{#            </div><!-- End .row -->#}
{#        </div><!-- End .container -->#}
{#    </div><!-- End #header-top -->#}
{##}
{#    <div id="inner-header">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-5 col-sm-5 col-xs-12 logo-container">#}
{#                    <h1 class="logo clearfix">#}
{#                        <span>Responsive and custom eCommerce</span>#}
{#                        <a href="/" title="Responsive and custom ecommerce"><img src="/static/image/logo_context.png" alt="Responsive and custom ecommerce" width="188" height="67"></a>#}
{#                    </h1>#}
{#                </div><!-- End .col-md-5 -->#}
{#                <div class="col-md-7 col-sm-7 col-xs-12 header-inner-right">#}
{##}
{#                    <div class="header-inner-right-wrapper clearfix">#}
{#                        <div class="dropdown-cart-menu-container pull-right" id="base-cart-list">#}
{#                            <div class="btn-group dropdown-cart" >#}
{##}
{#                                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">#}
{#                                    <span class="cart-menu-icon"></span>#}
{#                                    {% if request.cart %}{{ request.cart.count }} {% else %} 0 {% endif %} {% trans "Item" %}(s) <span class="drop-price total-cart"> $0.00</span>#}
{#                                </button>#}
{##}
{#                                <div class="dropdown-menu dropdown-cart-menu pull-right clearfix" role="menu">#}
{#                                    <p class="dropdown-cart-description">{% trans "Shopping cart" %}</p>#}
{#                                    <ul class="dropdown-cart-product-list">#}
{#                                        {% for item in request.cart %}#}
{##}
{#                                            <li class="item clearfix">#}
{#                                                <a href="#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a>#}
{#                                                <a href="{% url "cart:index" %}" title="Edit item" class="edit-item"><i class="fa fa-pencil"></i></a>#}
{#                                                <figure>#}
{#                                                    <a href="{% url 'product:details' slug=item.data.product_slug product_id=item.data.product_id %}">#}
{#                                                        <img src="{{ item.data.product_id|product_image_url  }}" alt="phone 4">#}
{#                                                    </a>#}
{#                                                </figure>#}
{#                                                <div class="dropdown-cart-details">#}
{#                                                    <p class="item-name">#}
{#                                                        <a href="{% url 'product:details' slug=item.data.product_slug product_id=item.data.product_id %}">{{ item.product }}</a>#}
{##}
{#                                                    </p>#}
{#                                                    <p>#}
{#                                                        {% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}#}
{#                                                        <span class="item-price">${{ item.data.unit_price_gross }} </span>#}
{#                                                        <input type="hidden" class="item-cart-sub-total" value="{{ item.get_total.0 }}"/>#}
{#                                                    </p>#}
{#                                                </div><!-- End .dropdown-cart-details -->#}
{#                                            </li>#}
{##}
{#                                        {% endfor %}#}
{#                                    </ul>#}
{##}
{#                                    <ul class="dropdown-cart-total">#}
{#                                        <!--<li><span class="dropdown-cart-total-title">Shipping:</span>$7</li>-->#}
{#                                        <li><span class="dropdown-cart-total-title">Total:</span><span class="total-cart">$1005.99</span></li>#}
{#                                    </ul><!-- .dropdown-cart-total -->#}
{#                                    <div class="dropdown-cart-action">#}
{#                                        <p><a href="{% url "cart:index" %}" class="btn btn-custom-2 btn-block">{% trans 'Cart' %}</a></p>#}
{#                                        <p><a href="{% url "checkout:index" %}" class="btn btn-custom btn-block">{% trans 'Checkout' %}</a></p>#}
{#                                    </div><!-- End .dropdown-cart-action -->#}
{##}
{#                                </div><!-- End .dropdown-cart -->#}
{#                            </div><!-- End .btn-group -->#}
{#                        </div><!-- End .dropdown-cart-menu-container -->#}
{##}
{#                        <div class="header-top-dropdowns pull-right">#}
{# SELECT TO CHANGE LANGUAGE #}
{#                            <form action='set_language' %}" class="btn-group dropdown-language" method="post">{% csrf_token %}#}
{#                            <input name="next" type="hidden" value="{{ request.path|slice:'3:' }}" />#}
{#                            <select id="language-select" class="btn btn-custom dropdown-toggle" name="language">#}
{#                                {% get_current_language as LANGUAGE_CODE %}#}
{#                                {% get_available_languages as LANGUAGES %}#}
{#                                {% get_language_info_list for LANGUAGES as languages %}#}
{#                                <div class="dropdown-menu">#}
{#                                    {% for language in languages %}#}
{#                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>#}
{#                                            <span class="hide-for-xs"> {{ language.name_local }} ({{ language.code }}) </span>#}
{#                                        </option>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </select>#}
{##}
{#                            <script>#}
{#                                $("#language-select").change(function (event){#}
{#                                    $("#language-select").parent().submit();#}
{#                                });#}
{#                            </script>#}
{#                            <!--<input type="submit" class="btn btn-default" value="Go" />-->#}
{#                            </form>#}
{#                            <div class="btn-group dropdown-money">#}
{#                                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">#}
{#                                    <span class="hide-for-xs">US Dollar</span><span class="hide-for-lg">$</span>#}
{#                                </button>#}
{#                                <ul class="dropdown-menu pull-right" role="menu">#}
{#                                    <li><a href="#"><span class="hide-for-xs">Euro</span><span class="hide-for-lg">&euro;</span></a></li>#}
{#                                    <li><a href="#"><span class="hide-for-xs">Pound</span><span class="hide-for-lg">&pound;</span></a></li>#}
{#                                </ul>#}
{#                            </div> <!--End .btn-group-->#}
{#                            <div class="btn-group dropdown-language">#}
{#                                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">#}
{#                                    <span class="flag-container"><img src="/static/theme/images/england-flag.png" alt="flag of england"></span>#}
{#                                    <span class="hide-for-xs">English</span>#}
{#                                </button>#}
{#                                <ul class="dropdown-menu pull-right" role="menu">#}
{#                                    <li><a href="#"><span class="flag-container"><img src="/static/theme/images/spain-flag.png" alt="flag of italy"></span><span class="hide-for-xs">Spanish</span></a></li>#}
{#                                </ul>#}
{#                            </div> <!--End .btn-group -->#}
{#                        </div><!-- End .header-top-dropdowns -->#}
{#                    </div><!-- End .header-inner-right-wrapper -->#}
{##}
{#                </div><!-- End .col-md-7 -->#}
{#            </div><!-- End .row -->#}
{#        </div><!-- End .container -->#}
{##}
{#        {% include 'part/_menu1.html' %}#}
{#    </div><!-- End #inner-header -->#}
{#</header><!-- End #header -->#}
{##}
{##}
{##}
{##}
{#//////////////////////////////////////////////////////////////////////////////////////////////////#}


<header id="header">
    <div id="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-top-left">
                        <ul id="top-links" class="clearfix">
                            {% include '_top_menu.html' %}
                        </ul>
                    </div><!-- End .header-top-left -->
                    <div class="header-top-right">

                        <div class="header-top-dropdowns pull-right">
                            {% include '_dropdown_money.html' %}
                            {% include '_dropdown_language.html' %}
                        </div><!-- End .header-top-dropdowns -->

                        <div class="header-text-container pull-right">
                            {% if user.is_authenticated %}
                                <p class="header-text">{% trans 'Welcome to' %} {{ user }}!</p>
                                <p class="header-link"><a href="{% url "registration:logout" %}">{% trans "Log out" %}</a></p>
                            {% else %}
                                <p class="header-text">Welcome to Commerce!</p>
                                <p class="header-link"><a href="{% url "registration:login" %}">{% trans "Log in" %}</a>&nbsp;or&nbsp;<a href="{% url 'registration:request_email_confirmation' %}">{% trans "Register" %}</a></p>
                            {% endif %}
                        </div><!-- End .pull-right -->
                    </div><!-- End .header-top-right -->
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #header-top -->

    <div id="inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12 logo-container">
                    <h1 class="logo clearfix">
                        <span>Responsive eCommerce</span>
                        <a href="/" title="Context Responsive Ecommerce"><img src="{{ custom_site.logo }}" alt="Context Commerce" width="238" height="76"></a>
                    </h1>
                </div><!-- End .col-md-5 -->
                <div class="col-md-7 col-sm-7 col-xs-12 header-inner-right">

                    <div class="header-box contact-infos pull-right">
                        <ul>
                            {% if custom_site.skype %}
                            <li><span class="header-box-icon header-box-icon-skype"></span>{{ custom_site.skype }}</li>
                            {% endif %}
                                {% for email in custom_site.emails %}
                                    <li><span class="header-box-icon header-box-icon-email"></span><a href="mailto:{{ email }}">{{ email }}</a></li>
                                {% endfor %}
                        </ul>
                    </div><!-- End .contact-infos -->

                    <div class="header-box contact-phones pull-right clearfix">
                        <span class="header-box-icon header-box-icon-earphones"></span>
                        <ul class="pull-left">
                            {% for phone in custom_site.phones %}
                                <li>{{ phone }}</li>
                            {% endfor %}
                        </ul>
                    </div><!-- End .contact-phones -->

                </div><!-- End .col-md-7 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div id="main-nav-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 clearfix">

                        <nav id="main-nav">
                            <div id="responsive-nav">
                                <div id="responsive-nav-button">
                                    Menu <span id="responsive-nav-button-icon"></span>
                                </div><!-- responsive-nav-button -->
                            </div>
                            <ul class="menu clearfix">
                                {% show_menu 0 1 100 100 "menu.html" %}
                                <li class="mega-menu-container"><a href="#">{% trans 'CATEGORIES' %}</a>
                                    <div class="mega-menu clearfix">
                                        {% for category in categories %}
                                            <div class="col-5">
                                                <a href="{{ category.get_absol}}" class="mega-menu-title">{{ category }}</a>
                                                <ul class="mega-menu-list clearfix">
                                                    {% for cat in category.children.all %}
                                                        <li><a href="{{ cat.get_absolute_url }}" >{{ cat }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    </div><!-- End .mega-menu -->
                                </li>
                            </ul>

                        </nav>

                        <div id="quick-access">
                            <div class="dropdown-cart-menu-container pull-right">
                                {% include '_dropdown_cart.html' %}
                            </div><!-- End .dropdown-cart-menu-container -->

                            {% include '_search.html' %}
                        </div><!-- End #quick-access -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

        </div><!-- End #nav -->
    </div><!-- End #inner-header -->
</header><!-- End #header -->








