{% load i18n %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
<header id="header" class="header3">
    <div id="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-top-left">
                        <ul id="top-links" class="clearfix">
                            {% include '_top_menu.html' %}
                        </ul>
                    </div><!-- End .header-top-left -->
                    <div class="header-top-right">
                        <div class="header-text-container pull-right">
                            {% if user.is_authenticated %}
                                <p class="header-text">{% trans 'Welcome to' %} {{ user }}!</p>
                                <p class="header-link"><a href="{% url "registration:logout" %}">{% trans "Log out" %}</a></p>
                            {% else %}
                                <p class="header-text">Welcome to Commerce!</p>
                                <p class="header-link"><a href="{% url "registration:login" %}">{% trans "Log in" %}</a>&nbsp;or&nbsp;<a href="{% url 'registration:request_email_confirmation' %}">{% trans "Register" %}</a></p>
                            {% endif %}
                        </div><!-- End .pull-right -->
                    </div><!-- End .header-top-right -->
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #header-top -->

    <div id="inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12 logo-container">
                    <h1 class="logo clearfix">
                        <span>Responsive eCommerce</span>
                        <a href="/" title="Context Responsive Ecommerce"><img src="/static/image/logo_context.png" alt="Context Commerce" width="196" height="42"></a>
                    </h1>
                </div><!-- End .col-md-5 -->
                <div class="col-md-7 col-sm-7 col-xs-12 header-inner-right">

                    <div class="header-inner-right-wrapper clearfix">
                        <div class="dropdown-cart-menu-container pull-right">
                            {% include '_dropdown_cart.html' %}
                        </div><!-- End .dropdown-cart-menu-container -->

                        <div class="header-top-dropdowns pull-right">
                            {% include '_dropdown_money.html' %}
                            {% include '_dropdown_language.html' %}
                        </div><!-- End .header-top-dropdowns -->
                    </div><!-- End .header-inner-right-wrapper -->

                    <p class="quick-contact-text">{% trans 'SUPPORT SERVICE' %}: +(549) 351 70 37 107</p>
                </div><!-- End .col-md-7 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div id="main-nav-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 clearfix">

                        <nav id="main-nav">
                            <div id="responsive-nav">
                                <div id="responsive-nav-button">
                                    Menu <span id="responsive-nav-button-icon"></span>
                                </div><!-- responsive-nav-button -->
                            </div>
                            <ul class="menu clearfix">
                                {% show_menu 0 1 100 100 "menu.html" %}
                                <li class="mega-menu-container"><a href="#">{% trans 'CATEGORIES' %}</a>
                                    <div class="mega-menu clearfix">
                                        {% for category in categories %}
                                            <div class="col-5">
                                                <a href="{{ category.get_absol}}" class="mega-menu-title">{{ category }}</a>
                                                <ul class="mega-menu-list clearfix">
                                                    {% for cat in category.children.all %}
                                                        <li><a href="{{ cat.get_absolute_url }}" >{{ cat }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    </div><!-- End .mega-menu -->
                                </li>
                            </ul>

                        </nav>

                        <div id="quick-access">
                            {% include '_search.html' %}
                        </div><!-- End #quick-access -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

        </div><!-- End #nav -->
    </div><!-- End #inner-header -->
</header><!-- End #header -->












