{% load i18n %}

{#<li><a href="{% url "user-favorites" %}" title="My Wishlist"><span class="top-icon fa fa-heart"></span><span class="hide-for-xs">{% trans "Your favorites" %}</span></a></li>#}
<li><a href="{% url "profile:orders" %}" title="My Wishlist"><span class="top-icon top-icon-pencil"></span><span class="hide-for-xs">{% trans "Your orders" %}</span></a></li>
<li><a href="{% url "profile:details" %}" title="My Account"><span class="top-icon top-icon-user"></span><span class="hide-for-xs">{% trans "Your profile" %}</span></a></li>
<li><a href="{% url "cart:index" %}" title="My Cart"><span class="top-icon top-icon-cart"></span><span class="hide-for-xs">{% trans "My cart" %}</span></a></li>
<li><a href="{% url "checkout:index" %}" title="Checkout"><span class="top-icon top-icon-check"></span><span class="hide-for-xs">{% trans "Checkout" %}</span></a></li>