{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block outerbreadcrumb %}
    {% block breadcrumb %}
        {% endblock %}
{% endblock  %}

{% block outercontent %}

    <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 main-content">
    <div class="row home-banners">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#"><img src="/static/theme/images/middle-banner-1.png" alt="Home Big Banner 1" class="img-responsive"></a>
        </div><!-- End .col-md-4 -->

        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#"><img src="/static/theme/images/middle-banner-2.png" alt="Home Big Banner 2" class="img-responsive"></a>
        </div><!-- End .col-md-4 -->

        <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#"><img src="/static/theme/images/middle-banner-3.png" alt="Home Big Banner 2" class="img-responsive"></a>
        </div><!-- End .col-md-4 -->
    </div><!-- End .home-banners -->

    <div class="lg-margin"></div><!-- space -->


    {% include "product/_featured_product.html" with featured_product_title="Favorites products" featured_product_description="This is description to favorites products." featured_product_list=favorites_p %}


    <div class="lg-margin"></div><!-- Space -->

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <header class="content-title">
                <h2 class="title">Welcome to Venedor</h2>
            </header>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Venedor is a fully responsive Magento theme with advanced admin module. Based on Bootstrap’s 12 column 1200px responsive grid Theme. Great looks on desktops, tablets and mobiles. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Venedor is extremely customizable, easy to use and fully responsive. Suitable for every type of store. Great as a starting point for your custom projects. This theme includes several extensions including ajax price slider that will help you improve your sales. We supply a full help with our products and after purchase support to all our customers. <a href="#">Buy Venedor Theme!</a></p>
        </div><!-- End .col-md-6 -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="sm-margin visible-xs"></div><!-- space -->
            <img src="/static/theme/images/showcase.png" alt="Showcase Venedor" class="img-responsive">
        </div><!-- End .col-md-5 -->
    </div><!-- End .row -->

    <div class="xlg-margin"></div><!-- Space -->

    {% include "product/_featured_product.html" with featured_product_title="Featured products" featured_product_description="This is description to featured products." featured_product_list=featured_p %}

    </div><!-- End .col-md-12 -->
    </div><!-- End .row -->

    <div class="lg-margin"></div><!-- Space -->

    <div id="brand-slider-container" class="carousel-wrapper">
        <header class="content-title">
            <div class="title-bg">
                <h2 class="title">Manufacturers</h2>
            </div><!-- End .title-bg -->
        </header>
        <div class="carousel-controls">
            <div id="brand-slider-prev" class="carousel-btn carousel-btn-prev">
            </div><!-- End .carousel-prev -->
            <div id="brand-slider-next" class="carousel-btn carousel-btn-next carousel-space">
            </div><!-- End .carousel-next -->
        </div><!-- End .carousel-controllers -->
        <div class="sm-margin"></div><!-- space -->
        <div class="row">
            <div class="brand-slider owl-carousel">
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 1"></a>
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 2"></a>
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 3"></a>
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 4"></a>
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 5"></a>
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 6"></a>
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 7"></a>
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 8"></a>
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 9"></a>
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 10"></a>
                <a href="#"><img src="/static/theme/images/brands/brand-logo.png" alt="Brand Logo 11"></a>
            </div><!-- End .brand-slider -->
        </div><!-- End .row -->
    </div><!-- End #brand-slider-container -->

{% endblock %}

{% block footer-newsletter %}
    <div id="newsletter-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <h3>{% trans 'Sing up to receive the latest fashion news' %}</h3>
                            <form id="register-newsletter">
                            <input type="text" name="newsletter" required="" placeholder="Enter your email address">
                            <input type="submit" class="btn btn-custom-3" value="SIGN UP">
                            </form>
                        </div><!--End  .col-md-6 -->

                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #newsletter-container -->
{% endblock %}
