{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="col-md-4">
        {% placeholder "sidebar" %}
    </div>
    <div class="col-md-8">
        {% placeholder "content" %}
    </div>

{% endblock content %}
