{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block body_class %}body-options{% endblock %}

{% block header_extra %}
    <a class="dropdown-button" href="#" data-activates="option-delete" data-constrainwidth="false">
        <i class="mdi-navigation-more-vert"></i>
    </a>
    <ul id="option-delete" class="dropdown-content">
        <li>
            <a class="modal-trigger-custom" href="#base-modal"
               data-href="{% url 'dashboard:product-option-set-delete' pk=object.pk %}">
                {% trans "Remove option" %}
            </a>
        </li>
    </ul>

    <div class="fixed-action-btn">
        <a class="btn-fab btn-floating btn-large waves-effect waves-light teal"
           href="{% url 'dashboard:option-set-option-add' pk_parent=object.id %}"
           title="{% trans "Add options to" %} {{ object.title }}">
            <i class="mdi-content-add"></i>
        </a>

    </div>

{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'dashboard:product-options-set' %}">{% trans 'Product options ' %}</a></li>
        <li>{{ object.title }}</li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m12 l12">
            {% if object %}
                <div class="col s12 m12 l12 card lighten-4" style="padding: 15px;">
                    <div class="cart-content">
                        <div>
                            <h4>{{ object.title }}</h4>
                            <p>{{ object.description }}</p>


                        </div>
                    </div>
                    <div class="cart-footer">
                        <a href="{% url "dashboard:product-option-set-edit" pk=object.pk %}" ><i class="mdi-content-add"></i> {% trans 'Edit' %}</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <h5>{% trans 'Options list' %}</h5>
                        {% if object.options.all %}
                            <ul class="collection list">
                                {% for option in object.options.all %}
                                    <li class="collection-item avatar list-item">
                                        {% if option.image %}
                                            <img src="{{ option.image.crop.50x50 }}" alt="" class="circle teal">
                                        {% else %}
                                            <img src="{% static 'images/product-image-placeholder.png' %}" alt="" class="circle teal">
                                        {% endif %}

                                        <a class="title" href="{% url 'dashboard:option-set-option-edit' pk_parent=object.pk pk=option.pk %}">
                                            <span class="list-item-name">{{ option.title }}</span>
                                        </a>
                                        <p class="list-item-desc">{{ option.title }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                            {#                        {% include "dashboard/includes/_pagination.html" with page_obj=object.options %}#}
                        {% else %}
                            <p>{% trans 'No options to' %} {{ object.title }}</p>
                        {% endif %}

                    </div>
                </div>

            {% else %}
                <p>{% trans "No options to product option found." %}</p>
            {% endif %}
        </div>
    </div>
    <div id="modal-product-option-class" class="modal">
        {{ form }}
    </div>
{% endblock %}
