{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}{% if option.pk %}{{ attribute }}{% else %}{% trans 'Add new option' %}{% endif %} - {% trans "Options" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-options{% endblock %}

{% block header_menu %}
    {% url "dashboard:product-options-set" as url %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}


{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url 'dashboard:product-options-set' %}">{% trans "Options" %}</a></li>
        <li>{% if option.pk %}{{ option }}{% else %}{% trans 'Add new option' %}{% endif %}</li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" id="form-options">
        <div class="row">
            <div class="col l12">
                <div class="row">
                    {% csrf_token %}
                        {{ form|materializecss }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l12 right-align">
                {% if option.pk %}
                    <button type="submit" class="btn">{% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn">{% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}