{% load i18n %}

<form action="{% url "dashboard:product-option-set-delete" pk=optionSet.pk %}" method="post">
    {% csrf_token %}
    <div class="modal-content">
        <h5>{% trans "Are you sure?" %}</h5>

        <p>
            {% blocktrans %}You are about to delete an option <strong>{{ optionSet }}</strong>.{% endblocktrans %}
        </p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="modal-option btn-flat blue-text">{% trans "Delete" %}</button>
        <a href="#!" class="modal-action modal-close btn-flat blue-text">{% trans "Cancel" %}</a>
    </div>
</form>
