{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}{% if option.pk %}{{ attribute }}{% else %}{% trans 'Add new option' %}{% endif %} - {% trans "Options" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-options{% endblock %}

{% block header_menu %}
    {% url "dashboard:product-options-set" as url %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block header_extra %}
    {% if option.pk %}
        <a class="dropdown-button" href="#" data-activates="option-delete" data-constrainwidth="false">
            <i class="mdi-navigation-more-vert"></i>
        </a>
        <ul id="option-delete" class="dropdown-content">
            <li>
                <a class="modal-trigger-custom" href="#base-modal"
                   data-href="{% url 'dashboard:option-set-option-delete' pk_parent=option.parent.pk pk=option.pk %}">
                    {% trans "Remove option" %}
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url 'dashboard:product-options-set' %}">{% trans "Options" %}</a></li>
        <li>{% if option.pk %}{{ option }}{% else %}{% trans 'Add new option' %}{% endif %}</li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" id="form-options">
        <div class="row">
            <div class="col l12">
                <div class="row">
                    {% csrf_token %}
                    {{ form.media }}
                    {% for field in form.visible_fields %}
                        {% if field.name != 'description' and field.name != 'DELETE' %}
                            {{ field|materializecss }}
                            {{ field.errors.as_ul }}
                        {% endif %}
                    {% endfor %}
                    {{ form.description }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l12 right-align">
                {% if option.pk %}
                    <button type="submit" class="btn">{% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn">{% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}