{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load status %}

{% block title %}{% trans "Orders" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-orders{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>{% trans "Orders" %}</li>
    </ul>
{% endblock %}

{% block menu_sales_class %} active{% endblock %}

{% block content %}
    {% include "dashboard/includes/_status_filters.html" %}
    {% if object_list %}


        <div class="card">
            {% include "dashboard/includes/_orders_table.html" with orders=object_list %}
        </div>

        <div class="row">
            {% include "dashboard/includes/_pagination.html" %}
        </div>
    {% else %}
        <p>{% trans "No orders." %}</p>
    {% endif %}
{% endblock %}
