{% load i18n %}
{% load materializecss %}

<form class="form-async" role="form" method="post" action="{% url 'dashboard:update-order-status' order_pk=order.pk %}">
    {% csrf_token %}
    <div class="modal-content">
        <div class="row">
        <p>Change Order Status</p>
		{{ form|materializecss }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="modal-action btn-flat blue-text"> {% trans "Update" %}</button>
        <a href="#!" aria-hidden="true" class="modal-action modal-close btn-flat blue-text">{% trans "Cancel" %}</a>
    </div>
</form>
