{% load i18n %}
{% load materializecss %}

<form class="form-async" role="form" method="post" action="{% url 'dashboard:create-payment' order_pk=order.pk %}">
    {% csrf_token %}
{#    {{ form }}#}
{{ form.errors }}
    <div class="modal-content">
        <div class="row">
		{{ form|materializecss }}
        <h4>{% trans "Create Payment"  %}</h4>
            <p> {% blocktrans  %}
                Create Payment for ${{ total }}
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="modal-action btn-flat blue-text"> {% trans "Create" %}</button>
        <a href="#!" aria-hidden="true" class="modal-action modal-close btn-flat blue-text">{% trans "Cancel" %}</a>
    </div>
</form>
