{% extends "checkout/details.html" %}
{% load as_vertical_form from bootstrap %}
{% load i18n %}



{% block forms %}
    {% if addresses %}
        <p>{% trans "Use one of your existing addresses or enter a new address below." %}</p>

        <div class="row">
            {% for address in addresses %}
                <div class="col-sm-4">
                    <div class="panel {% if address.is_selected %}panel-primary{% else %}panel-default{% endif %}">
                        <div class="panel-body">
                            <form method="post">
                                {% csrf_token %}
                                <address>{% include "userprofile/snippets/address-details.html" with address=address %}</address>
                                {% for field in address.form %}{{ field.as_hidden }}{% endfor %}
                                {% block extra_address_fields %}{% endblock %}
                                <div class="form-group">
                                    {% block use_this_address %}
                                        <button type="submit" class="btn btn-default btn-lg col-sm-12">Use</button>
                                    {% endblock %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>

        {% if existing_address_selected %}
            <p>
                <a href="#address-form" class="btn btn-default" data-toggle="collapse" data-target="#address-form">{% trans "Enter a new address" %}</a>
            </p>
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-sm-6">
            {% block additional_message %}{% endblock %}

            <div class="panel panel-default{% if addresses and existing_address_selected %} collapse{% endif %}" id="address-form">
                <div class="panel-body">
                    <form method="post" class="{% if not address_book or not existing_address_selected %} in{% endif %}">
                        {% csrf_token %}
                        <fieldset>
                            {% block fields %}{% endblock %}
                        </fieldset>

                        <div class="form-group pull-right">
                            {% block form_submit %}
                                <button type="submit" class="btn btn-primary">
                                    {% trans "Save address" %}
                                </button>
                            {% endblock %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock forms %}

