{% extends "checkout/address.html" %}

{% load as_vertical_form from bootstrap %}
{% load i18n %}

{% block breadcrumb %}
    {{ block.super }}
     <li ><span class="active">{% trans "Billing" %}</span></li>
{% endblock %}

{% block use_this_address %}
    <button type="submit" class="btn {% if entry.is_selected %}btn-primary{% else %}btn-default{% endif %} btn-lg col-sm-12">{% trans "Bill to this address" %}</button>
{% endblock %}

{% block additional_message %}
    {% if not user.is_authenticated %}
        <p class="alert alert-info">
            {% trans "Already have an account? Or create one for save address" %}
            <a href="{% url "registration:login" %}?next={% url "checkout:details" step="billing-address" %}">{% trans "Log in" %}</a>
        </p>
    {% endif %}
{% endblock %}

{% block fields %}
    {{ step.forms.address.first_name|as_vertical_form }}
    {{ step.forms.address.last_name|as_vertical_form }}
    {% if not user.is_authenticated %}
        {{ step.forms.anonymous|as_vertical_form }}
    {% endif %}
    {{ step.forms.address.company_name|as_vertical_form }}
    {{ step.forms.address.street_address_1|as_vertical_form }}
    {{ step.forms.address.street_address_2|as_vertical_form }}
    {{ step.forms.address.city|as_vertical_form }}
    {{ step.forms.address.postal_code|as_vertical_form }}
    {{ step.forms.address.country|as_vertical_form }}
    {{ step.forms.address.country_area|as_vertical_form }}
    {{ step.forms.address.phone|as_vertical_form }}
{% endblock fields %}

{% block form_submit %}
    <button type="submit" class="btn btn-primary">
        {% trans "Bill to this address" %}
    </button>
{% endblock %}
