{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Checkout" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
     <li ><a href="">{% trans "CHECKOUT" %}</a></li>
{% endblock %}

{% block header %} {# TODO: Whats this block? #}
    <header class="navbar navbar-default navbar-static-top" role="navigation">
        <nav class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Ecommerce</a>
            </div>
        </nav>
    </header>
{% endblock %}


{% block content %}
    <header class="content-title">
        <h1 class="title">{% trans "Checkout" %}</h1>
        <div class="md-margin"></div><!-- space -->
    </header>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="tab-container">
                <ul class="nav-tabs nav-justified">
                    {% for stepitem in checkout %}
                        <li class="{% if stepitem == step %}active{% endif %}">
                            <a href="{{ stepitem.get_absolute_url }}">{% if stepitem %}<i class="fa fa-check-circle"></i> {% endif %}{{ stepitem.title }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                <div class="lg-margin"></div><!-- Space -->
                        {% block step_info %}{% endblock %}

                        {% block forms %}{% endblock %}
                </div><!-- End .tab-content -->
            </div><!-- End .tab-container -->
        </div><!-- End .col-md-6 -->
    </div>

{% endblock content %}
