{% extends "checkout/address.html" %}
{% load as_horizontal_form from bootstrap %}
{% load as_vertical_form from bootstrap %}
{% load gross from prices_i18n %}
{% load i18n %}

{% block use_this_address %}
    <button type="submit" class="btn {% if entry.is_selected %}btn-primary{% else %}btn-default{% endif %} btn-lg col-sm-12">{% trans "Ship to this address" %}</button>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="/checkout/billing-address/">{% trans "Billing" %}</a></li>
     <li><span class="active">{% trans "Shipping" %}</span></li>
{% endblock %}

{% block extra_address_fields %}
    {{ delivery_form|as_vertical_form }}
{% endblock %}

{% block fields %}
    <div id="form-full-toggle" data-label="{% trans "Shipping address same as billing" %}"></div>
    <div class="form-full">
        {{ step.forms.address.first_name|as_vertical_form }}
        {{ step.forms.address.last_name|as_vertical_form }}
        {{ step.forms.address.company_name|as_vertical_form }}
        {{ step.forms.address.street_address_1|as_vertical_form }}
        {{ step.forms.address.street_address_2|as_vertical_form }}
        {{ step.forms.address.city|as_vertical_form }}
        {{ step.forms.address.postal_code|as_vertical_form }}
        {{ step.forms.address.country|as_vertical_form }}
        {{ step.forms.address.country_area|as_vertical_form }}
        {{ step.forms.address.phone|as_vertical_form }}
    </div>

    {{ delivery_form|as_horizontal_form }}
{% endblock fields %}

{% block form_submit %}
    <button type="submit" class="btn btn-primary">
        {% trans "Ship to this address" %}
    </button>
{% endblock %}
