{% extends "base.html" %}

{% load as_vertical_form from bootstrap %}
{% load discounted_price_range price_difference from discount %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load markdown from markdown %}
{% load price_range from price_ranges %}
{% load static from staticfiles %}
{% load common %}
{% load jsonify %}

{% block angular_app_declare_block %}
    ng-app="App" ng-controller="ProductCtrl as vm"
    cg-busy="productPromise"
{% endblock %}


{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
{% endblock %}

{% block title %}{{ product }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% with product.get_first_category as category %}
        {% if category %}
            <li xmlns="http://www.w3.org/1999/html"><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
        {% endif %}
    {% endwith %}
    <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
{% endblock breadcrumb %}

{% block outercontent %}
    <div itemscope itemtype="http://schema.org/Product">
    <div class="row">
    <div class="col-md-12">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 product-viewer clearfix">
            <!-- Start product-carousel -->
            <div id="product-image-carousel-container">
                <ul id="product-carousel" class="celastislide-list">
                    {% with images=product.images.all %}
                        {% for image in images %}
                            <li class="active-slide"><a data-rel='prettyPhoto[product]' href="{{ image.image.crop.750x750 }}" data-image="{{ image.image.crop.750x750 }}" data-zoom-image="{{ image.image.crop.750x750 }}" class="product-gallery-item"><img src="{{ image.image.crop.750x750 }}"></a></li>
                        {% endfor %}
                    {% endwith %}
                </ul>
            </div>
            <!-- End product-carousel -->

            <!-- Start product-image-container -->
            <div id="product-image-container">
                <figure><img src="{{ product.images.all.0.image.crop.500x500}}" data-zoom-image="{{ product.images.all.0.image.crop.750x750}}" alt="Product Big image" id="product-image">
                    <figcaption class="item-price-container">
                        {% verbatim %}
                        <span class="item-price">{{ vm.selected_variation.price[0] }}</span>
                        {% endverbatim %}
                    </figcaption>
                </figure>
            </div>
            <!-- product-image-container -->
        </div><!-- End .col-md-6 -->

        <div class="col-md-6 col-sm-12 col-xs-12 product">
            <div class="lg-margin visible-sm visible-xs"></div><!-- Space -->
            {% verbatim %}
            <h1 class="product-name">{{ vm.selected_variation.name }}</h1>
            {% endverbatim %}

            <!-- Start .rating-container -->
            <div class="ratings-container">
                <div class="ratings separator">
                    <div class="ratings-result" data-result="70"></div>
                </div><!-- End .ratings -->
                <span class="ratings-amount separator">3 Review(s)</span>
                {# <span class="separator">|</span>#}
                {# <a href="#review" class="rate-this">Add Your Review</a>#}
            </div>
            <!-- End .rating-container -->

            <ul class="product-list" >
                {% verbatim %}
                <li><span>Availability:</span>In Stock {{ vm.selected_variation.stock }}</li>
                <li><span>Product Code:</span>{{ vm.selected_variation.sku }}</li>
                <li ng-repeat="attr in vm.selected_variation.attributes"><span>{{ attr.display_name }}:</span>{{ attr.display_value }}</li>
                {% endverbatim %}
            </ul>

            {% if product.is_in_stock %}
                {% block orderform %}
                    <form role="form" class="product-form form-vertical" method="post" action=".">
                        {% csrf_token %}

                        <!-- Start Attributes -->
                        {% verbatim %}
                        <div ng-repeat="attribute in vm.attributes" class="product-attribute">
                            <span>{{ attribute.display_name }}:</span><br/>

                            <!-- Start Widget TXT -->
                            <div ng-if="attribute.widget_type == 'TXT' " class="btn-group" role="group">
                                <label class="btn btn-sm btn-default"
                                       ng-repeat="attr_value in attribute.values"
                                       ng-class="{checked: vm.selected_attributes[attr_value.id] == attr_value.value }">
                                    <input type="radio" class="btn"
                                           ng-click="vm.select_attribute(attr_value.id, attr_value.value)"
                                           ng-model="vm.selected_attributes[attr_value.id]"
                                           value="{{ attr_value.value }}"
                                           name="attribute-{{ attribute.name }}">
                                    <span>{{ attr_value.display_value }}</span>
                                </label>
                            </div>
                            <!-- End Widget TXT -->

                            <!-- Start Widget COL -->
                            <div ng-if="attribute.widget_type == 'COL' ">
                                <div class="xs-margin"></div>
                                <ul class="filter-color-list clearfix">
                                    <li ng-repeat="attr_value in attribute.values" >
                                        <label ng-class="{checked: vm.selected_attributes[attr_value.id] == attr_value.value }">
                                            <input type="radio" class="btn"
                                                   ng-click="vm.select_attribute(attr_value.id, attr_value.value)"
                                                   ng-model="vm.selected_attributes[attr_value.id]"
                                                   value="{{ attr_value.value }}"
                                                   name="attribute-{{ attribute.name }}">
                                            <span ng-style="{'background-color': attr_value.color }" class="filter-color-box"></span>
                                        </label>
                                </ul>
                            </div>
                            <!-- End Widget COL -->
                            <!-- <hr/>-->
                        </div>
                        {% endverbatim %}
                        <!-- Start Attributes -->

                        <div class="product-add clearfix">
                            <div>
                                <label for="variant"> {% trans "variant" %} </label>
                                {% verbatim %}
                                <select class="form-control" id="id_variant" name="variant" ng-model="vm.selected_variation" ng-options="variant.name for variant in vm.variations track by variant.id"></select>
                                {% endverbatim %}
                            </div>

                            <!-- Start Product options -->
                            <div>
                                {% verbatim %}
                                <input style="display: none" class="form-control" id="id_extra_data" maxlength="40" name="extra_data" type="text" value="{{ vm.get_extra_data() }}">

                                <div ng-repeat="option_set in vm.option_set_list" class="product-color-filter-container">
                                    <span >Select {{ option_set.title }}:</span><br/>

                                    <!-- Start Widget for Options with Images -->
                                    <label class="product-option"
                                           ng-if="option_set.image.url !== undefined"
                                           ng-repeat="option in option_set.options | orderBy:'id'">
                                        <input type="radio"
                                               value="{{ option.id }}"
                                               ng-model="vm.selected_option_set_ids[option_set.id]"
                                               name="option-set-{{ option_set.id }}">
                                        <img class="img-thumbnail"
                                             ng-class="{selected: vm.selected_option_set_ids[option_set.id]==option.id}"
                                             style="max-width: 90px; max-height: 76px;" src="{{ option.image.url }}">
                                    </label>
                                    <!-- End Widget for Options with Images -->

                                    <!-- Start Widget for Options with Text -->
                                    <select class="form-control product-option"
                                            ng-if="option_set.image.url === undefined"
                                            ng-model="vm.selected_option_set_ids[option_set.id]"
                                            name="option-set-{{ option_set.id }}"
                                            ng-options="option.id as option.title for (id, option) in option_set.options | orderBy:'id'"></select>
                                    <!-- End Widget for Options with Text -->

                                </div>
                                {% endverbatim %}
                            </div>
                            <!-- End Product options -->

                            <div class="md-margin"></div>
                            <div class="custom-quantity-input">
                                <input type="number" name="{{ form.quantity.name }}" value="1">
                                <!--<a href="#" onclick="return false;" class="quantity-btn quantity-input-up"><i class="fa fa-angle-up"></i></a>
                                    <a href="#" onclick="return false;" class="quantity-btn quantity-input-down"><i class="fa fa-angle-down"></i></a>-->
                            </div>
                            <button class="btn btn-custom-2">{% trans "ADD TO CART" %}</button>
                        </div>
                        <!-- .product-add -->
                    </form>

                    <!-- Start Favorites and Social -->
                    <div class="md-margin"></div><!-- Space -->
                    <div class="product-extra clearfix">
                        <div class="product-extra-box-container clearfix">
                            <div class="item-action-inner">
                                <a href="#" class="icon-button icon-like">Favourite</a>
                                <a href="#" class="icon-button icon-compare">Checkout</a>
                            </div><!-- End .item-action-inner -->
                        </div>
                        <div class="md-margin visible-xs"></div>
                        <div class="share-button-group">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            {#                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>#}
                            {#                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b2197865ea0183"></script>#}
                            <!-- AddThis Button END -->
                        </div><!-- End .share-button-group -->
                    </div>
                    <!-- End Favorites and Social -->

                    </div><!-- End .col-md-6 -->

                {% endblock %}
            {% else %}
                <p class="alert alert-warning">{% trans "This product is currently <strong>unavailable</strong>." %}</p>
            {% endif %}
    </div><!-- End .row -->

    <div class="lg-margin2x"></div><!-- End .space -->

    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12">

            <div class="tab-container left product-detail-tab clearfix">
                <ul class="nav-tabs">
                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                    <li><a href="#review" data-toggle="tab">Review</a></li>
                    <li><a href="#additional" data-toggle="tab">Additional Info</a></li>
                    <li><a href="#video" data-toggle="tab">Video</a></li>
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="description">
                        {{ product.description }}
                        <p>The perfect mix of portability and performance in a slim 1" form factor:</p>
                        <ul class="product-details-list">
                            <li>3rd gen Intel® Core™ i7 quad core processor available;</li>
                            <li>Windows 8 Pro available;</li>
                            <li>13.3" and 15.5" screen sizes available;</li>
                            <li>Double your battery life with available sheet battery;</li>
                            <li>4th gen Intel® Core™ i7 processor available;</li>
                            <li>Full HD TRILUMINOS IPS touchscreen (1920 x 1080);</li>
                            <li>Super fast 512GB PCIe SSD available;</li>
                            <li>Ultra-light at just 2.34 lbs.</li>
                            <li>And more...</li>
                        </ul>
                    </div><!-- End .tab-pane -->

                    <div class="tab-pane" id="review">

                        <p>Sed volutpat ac massa eget lacinia. Suspendisse non purus semper, tellus vel, tristique urna. </p>
                        <p>Cumque nihil facere itaque mollitia consectetur saepe cupiditate debitis fugiat temporibus soluta maxime doloremque alias enim officia aperiam at similique quae vel sapiente nulla molestiae tenetur deleniti architecto ratione accusantium.
                        </p>
                    </div><!-- End .tab-pane -->

                    <div class="tab-pane" id="additional">
                        <strong>Additional Informations</strong>
                        <p>Quae eum placeat reiciendis enim at dolorem eligendi?</p>
                        <hr>
                        <ul class="product-details-list">
                            <li>Lorem ipsum dolor sit quam</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Illum autem tempora officia</li>
                            <li>Amet  id odio architecto explicabo </li>
                            <li>Voluptatem  laborum veritatis</li>
                            <li>Quae laudantium iste libero</li>
                        </ul>
                    </div><!-- End .tab-pane -->

                    <div class="tab-pane" id="video">
                        <div class="video-container">
                            <strong>A Video about Product</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur adipisci esse.</p>
                            <hr>
                            {#                            <iframe width="560" height="315" src="//www.youtube.com/embed/Z0MNVFtyO30?rel=0"></iframe>#}

                        </div><!-- End .video-container -->

                    </div><!-- End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .tab-container -->
            <div class="lg-margin visible-xs"></div>
        </div><!-- End .col-md-9 -->
        <div class="lg-margin2x visible-sm visible-xs"></div><!-- Space -->
        <div class="col-md-3 col-sm-12 col-xs-12 sidebar">
            <div class="widget related">
                <h3>Related</h3>
                {% related_category_products product.id product.categories.all.0.id  as related_category_products %}
                {#                <p>result {{ related_category_products }}.</p>#}

                <div class="related-slider flexslider sidebarslider">
                    <ul class="related-list clearfix">
                        {% for product in related_category_products %}
                            {% if forloop.counter == 1 or forloop.counter == 4 or forloop.counter == 7 or forloop.counter == 10 or forloop == 13 %}
                                <li>
                            {% endif %}
                        <div class="related-product clearfix">
                            <figure>
                                <img src="{{ product.images.first.image.crop.115x115 }}" alt="{{ product.name }}" draggable="false">
                            </figure>
                            <h5><a href="#">{{ product.name }}</a></h5>
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-result" data-result="84" style="width: 78.96px;"></div>
                                </div><!-- End .ratings -->
                            </div><!-- End .rating-container -->
                            <div class="related-price">{{ product.price.2 }}{{ product.price.0 }}</div><!-- End .related-price -->
                        </div>
                        {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 or forloop.counter == 12 or forloop == 15 %}
                            </li>
                        {% elif forloop.last %}
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div><!-- End .related-slider -->
            </div><!-- End .widget -->
        </div><!-- End .col-md-4 -->
    </div><!-- End .row -->
    <div class="lg-margin2x"></div><!-- Space -->

    {% related_category_products product.id product.categories.all.0.id  as related_category_products %}

    {% include "product/_featured_product.html" with featured_product_title="Also Purchased" featured_product_description="Note the similar products." featured_product_list=related_category_products  %}
    <div class="purchased-items-container carousel-wrapper">
        <header class="content-title">
            <div class="title-bg">
                <h2 class="title">Also Purchased</h2>
            </div><!-- End .title-bg -->
            <p class="title-desc">Note the similar products - after buying for more than $500 you can get a discount.</p>
        </header>

        <div class="carousel-controls">
            <div id="purchased-items-slider-prev" class="carousel-btn carousel-btn-prev"></div><!-- End .carousel-prev -->
            <div id="purchased-items-slider-next" class="carousel-btn carousel-btn-next carousel-space"></div><!-- End .carousel-next -->
        </div><!-- End .carousel-controllers -->
        <div class="purchased-items-slider owl-carousel">

            {% for product in related_category_products %}

                <div class="item item-hover">
                    <div class="item-image-wrapper">
                        <figure class="item-image-container">

                            <a href="product.html">
                                {% if product.images.first %}
                                    <img src="{{ product.images.first.image.crop.400x400 }}" alt="item1" class="item-image">
                                {% else %}
                                    <img src="{{ product.images.first.image.crop.400x400 }}" alt="item1" class="item-image">
                                {% endif %}
                                {% if product.images.all.1 %}
                                    <img src="{{ product.images.all.1.image.crop.400x400 }}" alt="item1  Hover" class="item-image-hover">
                                {% else %}
                                    <img src="{{ product.images.all.1.image.crop.400x400 }}" alt="item1  Hover" class="item-image-hover">
                                {% endif %}
                            </a>
                        </figure>
                        <div class="item-price-container">
                            <span class="item-price">{{ product.price.2 }} {{ product.price.0 }}<span class="sub-price">.99</span></span>
                        </div><!-- End .item-price-container -->
                        <span class="new-rect">New</span>
                    </div><!-- End .item-image-wrapper -->
                    <div class="item-meta-container">
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-result" data-result="80"></div>
                            </div><!-- End .ratings -->
                                            <span class="ratings-amount">
                                                5 Reviews
                                            </span>
                        </div><!-- End .rating-container -->
                        <h3 class="item-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                        <div class="item-action">
                            <a href="#" class="item-add-btn">
                                <span class="icon-cart-text">Add to Cart</span>
                            </a>
                            <div class="item-action-inner">
                                <a href="#" class="icon-button icon-like">Favourite</a>
                                <a href="#" class="icon-button icon-compare">Checkout</a>
                            </div><!-- End .item-action-inner -->
                        </div><!-- End .item-action -->
                    </div><!-- End .item-meta-container -->
                </div><!-- End .item -->
            {% endfor %}

        </div><!--purchased-items-slider -->
    </div><!-- End .purchased-items-container -->

    </div><!-- End .col-md-12 -->
    </div><!-- End .row -->


    {#        ////////////////////////////#}
    {#        <div class="row">#}
    {#            <div class="col-sm-6 col-sm-push-6">#}
    {#                <h1 itemprop="name">#}
    {#                    {{ product }}#}
    {#                </h1>#}
    {#                <table>#}
    {#                    {% for v in product.variants.all %}#}
    {#                        <tr class="variant-{{ v.id }}">#}
    {#                            <td>{{ v.name }}</td>#}
    {#                            <td>{{ v.sku }}</td>#}
    {#                            <td>{{ v.id }}</td>#}
    {#                        </tr>#}
    {#                    {% endfor %}#}
    {#                </table>#}
    {#                {% if product.is_in_stock %}#}
    {#                    {% with price_range=product|discounted_price_range:request.discounts undiscounted=product.get_price_range %}#}
    {#                        {% with discount=undiscounted.min_price|price_difference:price_range.min_price %}#}
    {#                            <p class="lead" itemprop="offers" itemscope itemtype="http://schema.org/Offer">#}
    {#                                {% if undiscounted.min_price != price_range.min_price %}#}
    {#                                    <span class="price undiscounted">{% price_range undiscounted %}</span>#}
    {#                                    <br>#}
    {#                                    <span class="price">{% price_range price_range %}</span>#}
    {#                                    <br>#}
    {#                                    <small class="label label-success">{% trans "You save" %} {% gross discount %}</small>#}
    {#                                {% else %}#}
    {#                                    <span class="price">{% price_range price_range %}</span>#}
    {#                                {% endif %}#}
    {#                            </p>#}
    {#                        {% endwith %}#}
    {#                    {% endwith %}#}
    {#                {% endif %}#}
    {##}
    {#                <hr>#}
    {##}
    {#                <div class="visible-xs">#}
    {#                    {% if product.images.first %}#}
    {#                        <img class="img-responsive" src="{{ product.images.first.image.crop.680x680 }}" alt="">#}
    {#                    {% else %}#}
    {#                        <img src="{% static 'images/product-image-placeholder.png' %}" alt="" class="img-responsive">#}
    {#                    {% endif %}#}
    {##}
    {#                    <hr>#}
    {#                </div>#}
    {##}
    {#                {% if product.is_in_stock %}#}
    {#                    {% block orderform2 %}#}
    {#                        <form role="form" class="product-form form-vertical" method="post" action=".">#}
    {#                            {% csrf_token %}#}
    {#                            {{ form|as_vertical_form }}#}
    {##}
    {#                            <div class="form-group">#}
    {#                                <button class="btn btn-lg btn-block btn-primary">#}
    {#                                    {% trans "Add to cart" %}#}
    {#                                </button>#}
    {#                            </div>#}
    {#                        </form>#}
    {#                    {% endblock %}#}
    {#                {% else %}#}
    {#                    <p class="alert alert-warning">{% trans "This product is currently <strong>unavailable</strong>." %}</p>#}
    {#                {% endif %}#}
    {##}
    {#                <hr>#}
    {##}
    {#                <div itemprop="description">#}
    {#                    {{ product.description|markdown }}#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {##}
    {#            {% with images=product.images.all %}#}
    {#                <div class="col-sm-6 col-sm-pull-6">#}
    {#                    <div id="product-carousel" class="carousel slide panel panel-default hidden-xs" data-ride="carousel">#}
    {#                        <div class="carousel-inner">#}
    {#                            {% for image in images %}#}
    {#                                <div class="item{% if forloop.first %} active{% endif %}">#}
    {#                                    <a href="#" data-toggle="modal" data-target="#modal-{{ forloop.counter }}">#}
    {#                                        <img class="img-responsive" src="{{ image.image.crop.750x750 }}" alt="">#}
    {#                                    </a>#}
    {#                                </div>#}
    {#                            {% empty %}#}
    {#                                <div class="item active">#}
    {#                                    <img src="{% static 'images/product-image-placeholder.png' %}" alt="" class="img-responsive">#}
    {#                                </div>#}
    {#                            {% endfor %}#}
    {#                        </div>#}
    {##}
    {#                        {% for image in images %}#}
    {#                            <div class="modal fade" id="modal-{{ forloop.counter }}"#}
    {#                                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ forloop.counter }}" aria-hidden="true">#}
    {#                                <div class="modal-dialog modal-lg">#}
    {#                                    <div class="modal-content">#}
    {#                                        <div class="modal-header">#}
    {#                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
    {#                                            <h4 class="modal-title" id="myModalLabel{{ forloop.counter }}">{{ product }}</h4>#}
    {#                                        </div>#}
    {##}
    {#                                        <div class="modal-body">#}
    {#                                            <img class="img-responsive" src="" data-src="{{ image.image.url }}" alt="">#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        {% endfor %}#}
    {#                    </div>#}
    {##}
    {#                    <div class="product-gallery row">#}
    {#                        {% for image in images %}#}
    {#                            <a href="{{ image.image.url }}" target="_blank" class="product-gallery-item col-xs-6 col-md-3">#}
    {#                                <img class="thumbnail img-responsive" src="{{ image.image.crop.280x280 }}" alt="">#}
    {#                            </a>#}
    {#                        {% endfor %}#}
    {#                    </div>#}
    {#                </div>#}
    {#            {% endwith %}#}
    {#        </div>#}
    </div>

{% endblock outercontent %}

{% block footer_scripts %}
    <script>
        var variants_json = {{ variants_json|jsonify }};
    </script>


    <script src="/static/theme/js/jquery.elevateZoom.min.js"></script>
    <!-- TODO: Check what of the js heritaged from the theme is needed in -->
    {{ block.super }}
    <!-- angular resources -->
    <script type="text/javascript" src="{% static 'components/angularjs/angular.min.js' %}"></script>

    <!-- ###################### angular-resources APP - MODULE AD ###################### -->
    <script type="text/javascript" src="{% static 'angular-resources/modules/product/product.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-resources/modules/product/services/product.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-resources/modules/product/controllers/product.controller.js' %}"></script>
    <!-- ###################### END angular-resources APP - MODULE AD ###################### -->

    <!-- ###################### angular-resources APP ###################### -->
    <script type="text/javascript" src="{% static 'angular-resources/apps/product-detail.js' %}"></script>
    <!-- ###################### END angular-resources APP ###################### -->
    <script src="/static/components/flexslider/jquery.flexslider-min.js"></script>
    <script>

        $(function() {
            $('#id_variant').on('change', function() {
                console.log($(this).val() + $(this).val());
                $('[class^="variant"]').css('color', 'red');
                $('[class^="variant"]').hide();
                $('[class^="variant-' + $(this).val()  + '"]').show()   ;
                $('[class^="variant-' + $(this).val()  + '"]').css('color', 'green');
            });
            {#            $('[class^="variant"]').hide();#}
            $('[class^="variant-' + $('#id_variant').val()  + '"]').show()
        });
    </script>
{% endblock %}
