{% if form %}
    {% load bootstrap3 %}

    {% if form.is_multipart %}
        <form enctype="multipart/form-data" method="POST" action="">
    {% else %}
       <form method="POST" action="">
    {% endif %}
	{% csrf_token %}
		{% bootstrap_form form %}
		<input type="submit"{% if contact.submit %} value="{{ contact.submit }}"{% endif %} class="btn btn-info pull-right"/>
	</form>
{% else %}
	{{ contact.thanks|safe }}
{% endif %}
