{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load status %}
{% load materializecss %}

{% block title %}{% trans "Stock" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-stock{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>{% trans "Stock List" %}</li>
    </ul>
{% endblock %}

{% block menu_stock_class %} active{% endblock %}

{% block content %}

    <form method="get">
        <div class="row">
            {{ form|materializecss:"s8 m4 l3" }}
            <div class="col s4 m2 l1 right-align">
                <button type="submit" class="btn btn--inline">{% trans "Filter" %}</button>
            </div>
        </div>
    </form>

    {% if object_list %}
        <div class="card">
            {% include "dashboard/includes/_stock_table.html" with stock_qs=object_list %}
        </div>

        <div class="row">
            {% include "dashboard/includes/_pagination.html" %}
        </div>
    {% else %}
        <p>{% trans "No orders." %}</p>
    {% endif %}
{% endblock %}
