<div class="favit">
    <button class="btn highlight second-color btn-favit-favorite"
            href="{% url 'favit.views.add_or_remove' %}"
            model="{{ target_model }}"
            id="target_{{ target_object_id }}"
            count="{{ count }}" >
        <i class="fa fa-heart{% if not undo %}-o{% endif %}"></i>
    </button>
    {% if count %}
        <span class="fav-count">{{ fav_count }}</span>
    {% endif %}
</div>
