{% load i18n %}
{% load prices_i18n %}
{% load status %}

<div class="data-table-container">
    <table class="bordered hoverable responsive data-table">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Order status" %}</th>
{#                <th>{% trans "Payment status" %}</th>#}
                <th>{% trans "Customer" %}</th>
                <th>{% trans "Placed on" %}</th>
                <th>{% trans "Total" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>
                    <a href="{% url 'dashboard:order-details' order_pk=order.pk %}">#{{ order.id }}</a>
                </td>
                <td>{% render_status order.status order.get_status_display %}</td>
{#                <td>{% render_status order.get_last_payment_status order.get_last_payment_status_display %}</td>#}
                <td>{{ order.created }}</td>
                <td>{{ order.user|default:_("Guest") }}</td>
                <td>{% gross order.get_total %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
