{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
    <li><span class="active">{% trans "Change password" %}</span></li>
{% endblock breadcrumb %}

{% block content %}

    <header class="content-title">
        <h1 class="title">{% trans 'Change password' %}</h1>
        <div class="md-margin"></div><!-- space -->
    </header>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="xs-margin"></div>
            <form method="post">
                {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="hidden" name="next" value="{{ next }}" />
                <button class="btn btn-custom-2 pull-right">{% trans "Update password" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
