{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Login" %} — {{ block.super }}{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><span class="active">{% trans 'login' %}</span></li>
{% endblock breadcrumb %}
{% block content %}

    <header class="content-title">
        <h1 class="title">{% trans 'Login or Create An Account' %}</h1>
        <div class="md-margin"></div><!-- space -->
    </header>

    <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <h2>{% trans 'New Customer' %}</h2>

            <p>{% trans "By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more." %}</p>
            <div class="md-margin"></div><!-- space -->
            <a href="{% url 'registration:request_email_confirmation' %}" class="btn btn-custom-2 pull-right">{% trans "Register" %}</a>
            <div class="lg-margin"></div><!-- space -->
        </div><!-- End .col-md-6 -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h2>{% trans 'Registered Customers' %}</h2>
            <p>{% trans 'If you have an account with us, please log in.' %}</p>
            <div class="xs-margin"></div>

            <form id="login-form" method="post" action="{% url 'registration:login' %}">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="hidden" name="next" value="{{ next }}" />
                <span class="help-block"><a href="{% url 'registration:request_email_confirmation' %}">{% trans 'Forgot your password?' %}</a></span>
                <button class="btn btn-custom-2 pull-right">{% trans 'LOGIN' %}</button>

                {% if facebook_login_url or google_login_url %}
                    <p>{% trans "Want to use your social profile?" %}</p>
                    <p>
                        {% if facebook_login_url %}
                            <a class="btn btn-default" href="{{ facebook_login_url }}">
                                {% trans "Log in using Facebook" %}
                            </a>
                        {% endif %}
                        {% if google_login_url %}
                            <a class="btn btn-default" href="{{ google_login_url }}"> {% trans "Log in using Google" %}</a>
                        {% endif %}
                    </p>

                {% endif %}
            </form>
            <div class="sm-margin"></div><!-- space -->
        </div><!-- End .col-md-6 -->

    </div><!-- End.row -->
{% endblock %}
