{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Register or reset your password" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'registration:login' %}">{% trans 'login' %}</a></li>
    <li><span class="active">{% trans "Register or reset your password" %}</span></li>
{% endblock breadcrumb %}

{% block content %}

    <header class="content-title">
        <h1 class="title">{% trans 'Register or reset your password' %}</h1>
        <div class="md-margin"></div><!-- space -->
    </header>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <h2>{% trans 'Register or reset your password' %}</h2>
            <p>{% trans 'If you forgot password or new customer, enter your email.' %}</p>
            <div class="xs-margin"></div>
            <form method="post">
                {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="hidden" name="next" value="{{ next }}" />
                <button class="btn btn-custom-2 pull-right">{% trans "Continue" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
