{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Set password" %} — {{ block.super }}{% endblock %}

{% block content %}

    <header class="content-title">
        <h1 class="title">{% trans 'Set password' %}</h1>
        <div class="md-margin"></div><!-- space -->
    </header>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {% bootstrap_form form %}
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary">
                    {% trans "Set password" %}
                </button>
            </div>
        </div>
    </form>
    {# This form set account without password #}
{#    <form method="post" class="form-horizontal">#}
{#        {% csrf_token %}#}
{#        <div class="form-group">#}
{#            <div class="col-sm-offset-2 col-sm-10">#}
{#                <button class="btn btn-default">#}
{#                    {% trans "I don't want a password" %}#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{% endblock %}
