{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{% block title %}{% trans "Dashboard - Commerce" %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "versatileimagefield/css/versatileimagefield.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style_dashboard.css" %}">

    <script src="{% static "js/dashboard-head.js" %}"></script>
    {% block custom_css %}
    {% endblock %}
</head>

<body class="{% block body_class %}body-home{% endblock %}">
    <header class="header">
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper">
                    {% block header_menu %}
                        <a href="#" data-activates="side-menu" class="button-collapse header-button"><i class="mdi-navigation-menu"></i></a>
                    {% endblock %}
                    {% block breadcrumbs %}
                        <ul class="breadcrumbs">
                            <li>{% trans "Dashboard" %}</li>
                        </ul>
                    {% endblock %}
                    {% block header_extra %}{% endblock %}
                </div>
            </div>
            <ul class="side-nav fixed" id="side-menu">
                <li class="side-nav-user">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="waves-effect waves-teal collapsible-header">
                                <i class="mdi-action-account-circle"></i>{{ request.user }} <i class="mdi-navigation-arrow-drop-down"></i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/" class="waves-effect waves-teal">{% trans "Visit storefront" %}</a></li>
                                    <li><a href="{% url 'registration:logout' %}" class="waves-effect waves-teal">{% trans "Log out" %}</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="brand-logo">
                    <a href="{% url 'dashboard:index' %}">
                        <img src="{% static "img/dashboard-logo.svg" %}" alt="Saleor">
                    </a>
                </li>
                <li class="nav-home"><a href="{% url 'dashboard:index' %}">Home</a></li>
                <li>
                    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                        <li>
                            <a class="waves-effect waves-teal collapsible-header{% block menu_catalogue_class %}{% endblock %}">{% trans "Catalogue" %}</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li class="subnav-products"><a href="{% url 'dashboard:product-list' %}">{% trans "Products" %}</a></li>
                                    <li class="subnav-attributes"><a href="{% url 'dashboard:product-attributes' %}">{% trans "Attributes" %}</a></li>
                                    <li class="subnav-options"><a href="{% url 'dashboard:product-options-set' %}">{% trans "Options" %}</a></li>
                                    <li class="subnav-categories"><a href="{% url 'dashboard:category-list' %}">{% trans "Categories" %}</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a class="waves-effect waves-teal collapsible-header{% block menu_sales_class %}{% endblock %}">{% trans "Sales" %}</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li class="subnav-orders"><a href="{% url 'dashboard:orders' %}">{% trans "Orders" %}</a></li>
                                    <li class="subnav-customers"><a href="{% url 'dashboard:customers' %}">{% trans "Customers" %}</a></li>
                                    <li class="subnav-payments"><a href="{% url 'dashboard:payments' %}">{% trans "Payments" %}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="divider"></li>
                    <li>

                        <a class="waves-effect waves-teal collapsible-header{% block menu_stock_class %}{% endblock %}">{% trans "Stock" %}</a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="subnav-stock"><a href="/dashboard/stock/list">{% trans "Stock" %}</a></li>
                                <li class="subnav-payments"><a href="{% url 'dashboard:product-iostock' %}">{% trans "Enter stock" %}</a></li>
                            </ul>
                        </div>
                    </li>

                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="container">
            {% include "dashboard/includes/_messages.html" %}

            {% block content %}
            {% endblock %}
        </div>
    </main>

    <div class="hide-on-med-only"></div>
    <div class="hide-on-large-only"></div>
    <div id="base-modal" class="modal"></div>
    <div id="base-modal-fixed" class="modal modal-fixed-footer"></div>

    <!-- Core Scripts - Include with every page -->
    <script src="{% static "js/dashboard.js" %}"></script>
    <script src="{% static "versatileimagefield/js/versatileimagefield.js" %}"></script>

    {% block custom_js %}{% endblock %}
</body>
</html>
