{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
{#        <div class="card">#}
{#            <div class="data-table-header{% if not preauthorized_payments %} data-table-header--no-data{% endif %}">#}
{#                <span class="card-title black-text">{% trans "Preauthorized payments" %}</span>#}
{#            </div>#}
{##}
{#            {% if preauthorized_payments %}#}
{#                <div class="data-table-container">#}
{#                    <table class="bordered hoverable responsive data-table">#}
{#                        <thead>#}
{#                            <tr>#}
{#                                <th>{% trans "Order number" %}</th>#}
{#                                <th>{% trans "Date" %}</th>#}
{#                                <th>{% trans "Customer" %}</th>#}
{#                                <th class="text-right">{% trans "Amount" %}</th>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                            {% for payment in preauthorized_payments %}#}
{#                                <tr>#}
{#                                    <td><a href="{% url "dashboard:order-details" order_pk=payment.order.pk %}">{{ payment.order }}</a></td>#}
{#                                    <td>{{ payment.created }}</td>#}
{#                                    <td>{{ payment.order.user|default:_("Guest") }}</td>#}
{#                                    <td class="text-right">{% gross payment.get_total_price %}</td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="card-content card-content--no-data">#}
{#                    <p>{% trans "No preauthorized payments." %}</p>#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}

        <div class="card">
            <div class="data-table-header{% if not orders_to_ship %} data-table-header--no-data{% endif %}">
                <span class="card-title black-text">{% trans "Orders ready for shipment" %}</span>
            </div>

            {% if orders_to_ship %}
                {% include "dashboard/includes/_orders_table.html" with orders=orders_to_ship %}
            {% else %}
                <div class="card-content card-content--no-data">
                    <p>{% trans "No orders are ready for shipment." %}</p>
                </div>
            {% endif %}
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title black-text">{% trans "Products with low stock" %}</span>

                {% if low_stock %}
                    <div class="card">
                        {% include "dashboard/includes/_low_stock_variants_product_table.html" with stock_qs=low_stock %}
                    </div>

                    <div class="row">
                        {% include "dashboard/includes/_pagination.html"  with page_obj=low_stock_paginator paginator=low_stock_paginator%}
                    </div>
                {% else %}
                    <p>{% trans "No products are low in stock." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
