{% extends "dashboard/base.html" %}
{% load i18n %}
{% load static %}
{% load materializecss %}

{% block title %}
        {% trans "Enter stock" %}
{% endblock %}

{% block body_class %}body-store body-products{% endblock %}

{% block custom_css %}
    {{ form.media.css }}

    <link rel="stylesheet" href="/static/bower_components/select2-bootstrap-css/select2-bootstrap.css">

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
{% endblock %}


{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url "dashboard:product-list" %}">{% trans "Products" %}</a></li>
        <li>{% trans 'Enter stock' %}</li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <h4>{% trans 'Add stock' %}</h4>
    <form method="post" id="form-stock" enctype="multipart/form-data">
        <div class="row">
            {% csrf_token %}
            {{ form|materializecss }}

            <div class="col s12">
                <select class="browser-default validate" id="id_variation" name="variations" title="Variations" hidden="true">
                    <option value="" selected="selected">---------</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col s12 l8 right-align">
                <button type="submit" class="btn">{% trans "Update" %}</button>
            </div>
        </div>
    </form>

    <script>
        /**
         *  Function to change Product Select
         * */
        function changeProductSelected(){
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var variation_id = $("#id_product").val();

            $.ajax({
                url: "/products/" + variation_id + "/variations/",
                type: 'GET',
                beforeSend: function(xhr, settings){
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                },
                success: function(response) {
                    console.log("RESPONSE");
                    var options = [];
                    console.log(response);

                    var variation_id = $('#id_variation_hidden').val();


                    for(var i=0; i < response.length; i ++){
                        if(variation_id && variation_id == response[i]['id']){
                            options.push('<option value="' + response[i]['id'] + '" selected="true">' + response[i]['name'] + '</option>');
                        }else{
                            options.push('<option value="' + response[i]['id'] + '">' + response[i]['name'] + '</option>');
                        }

                    }

                    if(response.length && !variation_id){
                        // Set initial value on hidden variation value
                        $('#id_variation_hidden').val(response[0]['id']);
                    }else if(variation_id){
                        $('#id_variation').val(variation_id)
                    }

                    $('#id_variation')
                            .html(options)
                            .select2()
                            .trigger("change")
                            .change(function(e){
                                $('#id_variation_hidden').val($('#id_variation').val());
                            });

                }
            });

        }

        $(document).ready(function() {
            var product_selected = $("#id_product").val();
            if(product_selected){
                changeProductSelected();
            }
        });
    </script>
    {{ form.media.js }}


    <style>
        .select-product{
            width: 100%;
        }
    </style>

{% endblock %}