{% load staticfiles %}
{% load i18n %}
{% load price_range from price_ranges %}
{% load discounted_price_range price_difference from discount %}
{% load favit_tags %}

<div id="{{ featured_product_title|slugify }}" class="latest-items carousel-wrapper">
    <header class="content-title">
        <div class="title-bg">
            <h2 class="title">{% trans featured_product_title %}</h2>
        </div><!-- End .title-bg -->
        <p class="title-desc">{% trans featured_product_description %}</p>
    </header>

    <div class="carousel-controls">
        <div id="{{ featured_product_title|slugify }}-slider-prev" class="carousel-btn carousel-btn-prev {{ featured_product_title|slugify }} latest-items-slider-prev">
        </div><!-- End .carousel-prev -->
        <div id="{{ featured_product_title|slugify }}-slider-next" class="carousel-btn carousel-btn-next carousel-space {{ featured_product_title|slugify }} latest-items-slider-next">
        </div><!-- End .carousel-next -->
    </div><!-- End .carousel-controls -->

    <div id="{{ featured_product_title|slugify }}" class="{{ featured_product_title|slugify }}-slider owl-carousel">
        {% for product in featured_product_list %}
            <div class="item item-hover" itemscope itemtype="https://schema.org/Product">
                <div class="item-image-wrapper">
                    <figure class="item-image-container">
                        <a href="{{ product.get_absolute_url }}" class="container-image-product-thumb">
                            <i class="fa fa-spinner fa-spin fa-2x img-loading"></i>
                            {% if product.images.first %}
                                <img class="item-image lazyOwl" src="{{ product.images.first.image.crop.150x150 }}" alt="">
                                {% if product.images.all.1 %}
                                    <img class="item-image-hover lazyOwl" src="{{ product.images.all.1.image.crop.150x150 }}" alt="">
                                {% endif %}
                            {% else %}
                                <img class="item-image lazyOwl" src="{% static 'images/product-image-placeholder.png' %}" alt="">
                                <img class="item-image-hover lazyOwl" src="{% static 'images/product-image-placeholder.png' %}" alt="">
                            {% endif %}
                        </a>
                    </figure>
                    {% if product.is_in_stock %}
                        {% with price_range=product|discounted_price_range:request.discounts undiscounted=product.get_price_range %}
                            {% with discount=undiscounted.min_price|price_difference:price_range.min_price %}
                                {% price_range price_range %}
                                {#                                {% if undiscounted.min_price != price_range.min_price %}#}
                                {#                                    <span style="position: absolute;">{% trans "Discount!" %}</span>#}
                                {#                                {% endif %}#}
                            {% endwith %}
                        {% endwith %}

                    {% endif %}

                    {% if product.is_new %}
                        <span class="new-rect">{% trans 'New' %}</span>
                    {% endif %}
                </div><!-- End .item-image-wrapper -->
                <div class="item-meta-container">
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="{{ product.get_rating.get_percent_rate }}"></div>
                        </div><!-- End .ratings -->
                        <span class="ratings-amount">
                            {{ product.get_rating.quantity_vote }} {% trans 'Reviews' %}
                        </span>
                    </div><!-- End .rating-container -->
                    <h3 class="item-name"><a href="{{ product.get_absolute_url }}" itemprop="name" title="{{ product }}">{{ product }}</a></h3>
                    <div class="item-action">
                        <a href="{{ product.get_absolute_url }}" class="item-add-btn">
                            <span class="icon-cart-text">{% trans 'Add to Cart' %}</span>
                        </a>
                        <div class="item-action-inner">
                            {% favorite_button product count=False %}
                            {#                            <a href="#" class="icon-button icon-compare">{% trans 'Checkout' %}</a>#}
                        </div><!-- End .item-action-inner -->
                    </div><!-- End .item-action -->
                </div><!-- End .item-meta-container -->
            </div><!-- End .item -->
        {% endfor %}
    </div><!--latest-items-slider -->
</div><!-- End .latest-items -->

{% block footer_scripts %}
    <script>
        $(document).ready(function() {
            var  latestItems = $('.{{ featured_product_title|slugify }}-slider.owl-carousel');
            latestItems.owlCarousel({
                items: 4,
                itemsDesktop : [1199,4],
                itemsDesktopSmall: [979,3],
                itemsTablet: [768,2],
                itemsMobile : [479,1],
                slideSpeed: 400,
                autoPlay: 8000,
                stopOnHover: true,
                lazyLoad : true,
                navigation : false,
                pagination: false,
                responsive: true,
                mouseDrag: true,
                autoHeight : true
            }).data('navigationBtns', ['#{{ featured_product_title|slugify }}-slider-prev', '#{{ featured_product_title|slugify }}-slider-next']);
        });
    </script>
{% endblock %}
