{% load spurl %}

{% if is_paginated %}
    <ul class="pagination">

        {% if page_obj.has_previous %}
            <li class="active"><a href="{% spurl base=request.get_full_path set_query="page={{ page_obj.previous_page_number }}" %}">&laquo;</a></li>
        {% else %}
            <li ><a href="#">&laquo;</a></li>
        {% endif %}
        {% for num_page in paginator.page_range %}
            {# Solo mostramos +5 y -5 en el paginator. Podemos cambiar si necesitamos mostrar más o menos páginas #}
            {% if page_obj.number|add:'-5' <= num_page and page_obj.number|add:"5" >= num_page%}
                {%if page_obj.number == num_page %}
                    <li class="active"><a href="#">{{ num_page }}</a></li>
                {% else %}
                    <li><a href="{% spurl base=request.get_full_path set_query="page={{ num_page }}" %}">{{ num_page }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="{% spurl base=request.get_full_path set_query="page={{ page_obj.next_page_number }}" %}">&raquo;</a></li>
        {% else %}
            <li><a href="#" >&raquo;</a></li>
        {% endif %}
    </ul><!--//pagination-->
{% endif %}