{% load i18n %}
{% load gross from prices_i18n %}
<div itemprop="offers" itemscope itemtype="https://schema.org/Offer" class="item-price-container">
     {% if price_range.min_price == price_range.max_price %}
             <span class="item-price">{% gross price_range.min_price %}</span>
        {% else %}
            <span class="old-price">{% gross price_range.max_price %}</span>
            <span class="item-price">{% gross price_range.min_price %}</span>
        {% endif %}
</div>
