{% load staticfiles %}
{% load i18n %}
{% load favit_tags %}
{% load price_range from price_ranges %}
{% load discounted_price_range price_difference from discount %}

<div class="category-item-container">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 col-sm-6 col-xs-12" itemscope itemtype="https://schema.org/Product">
                        <div class="item item-hover">
                            <div class="item-image-wrapper">
                                <figure class="item-image-container">
                                    <a href="{{ product.get_absolute_url }}" class="container-image-product-thumb">
                                        <i class="fa fa-spinner fa-spin fa-2x img-loading"></i>
                                        {% if product.images.first %}
                                            <img class="item-image" src="{{ product.images.first.image.crop.150x150 }}" alt="">
                                            {% if product.images.all.1 %}
                                                <img class="item-image-hover" src="{{ product.images.all.1.image.crop.150x150 }}" alt="">
                                            {% endif %}
                                        {% else %}
                                            <img src="{% static 'images/product-image-placeholder.png' %}" alt="" class="item-image">
                                        {% endif %}
                                    </a>
                                </figure>
                                {% if product.is_in_stock %}
                                    {% with price_range=product|discounted_price_range:request.discounts undiscounted=product.get_price_range %}
                                        {% with discount=undiscounted.min_price|price_difference:price_range.min_price %}
                                            {% price_range price_range %}
{#                                            {% if undiscounted.min_price != price_range.min_price %}#}
{#                                                <!--class="discount-rect" style="left: initial; right: 0px; width: auto; padding: 7.5px;"-->#}
{#                                                <span style="position: absolute;">{% trans "Discount!" %}</span>#}
{#                                            {% endif %}#}
                                        {% endwith %}
                                    {% endwith %}
                                {% else %}
                                    &nbsp;
                                {% endif %}

                                {% if product.is_new %}
                                    <span class="new-rect">{% trans 'New' %}</span>
                                {% endif %}
                            </div><!-- End .item-image-wrapper -->
                            <div class="item-meta-container">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-result" data-result="{{ product.get_rating.get_percent_rate }}"></div>
                                    </div><!-- End .ratings -->
                                    <span class="ratings-amount">
                                        {{ product.get_rating.quantity_vote }} {% trans 'Reviews' %}
                                    </span>
                                </div><!-- End .rating-container -->
                                <h3 class="item-name"><a href="{{ product.get_absolute_url }}" itemprop="name" title="{{ product }}">{{ product }}</a></h3>
                                <div class="item-action">
                                    <a href="{{ product.get_absolute_url }}" class="item-add-btn">
                                        <span class="icon-cart-text">{% trans 'Add to Cart' %}</span>
                                    </a>
                                    <div class="item-action-inner">
                                        {% favorite_button product count=False %}
{#                                        <a href="#" class="icon-button icon-compare">{% trans 'Checkout' %}</a>#}
                                    </div><!-- End .item-action-inner -->
                                </div><!-- End .item-action -->
                            </div><!-- End .item-meta-container -->
                        </div><!-- End .item -->
                    </div><!-- End .col-md-4 -->
                {% endfor %}


            </div><!-- End .row -->
        </div><!-- End .category-item-container -->