{% load staticfiles %}
{% load i18n %}
{% load gross from prices_i18n %}

<div class="widget related">
    <h3>{% trans featured_product_title %}</h3>

    <div class="related-slider flexslider sidebarslider">
        <ul class="related-list clearfix">
            {% for product in featured_product_list %}
                {% if forloop.counter == 1 or forloop.counter == 4 or forloop.counter == 7 or forloop.counter == 10 or forloop == 13 %}
                    <li>
                {% endif %}
            <div class="related-product clearfix">
                <figure style="min-height: 150px; min-width: 150px;">
                    <a href="{{ product.get_absolute_url }}">
                        {% if product.images.first %}
                            <img class="item-image lazyOwl" src="{{ product.images.first.image.crop.150x150 }}" alt="{{ product.name }}" draggable="false">
                        {% else %}
                            <img class="item-image lazyOwl" src="{% static 'images/product-image-placeholder.png' %}" style="width: 150px;" alt=""  draggable="false">
                        {% endif %}
                    </a>
                </figure>
                <h5><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-result" data-result="{{ product.get_rating.get_percent_rate }}"></div>
                    </div><!-- End .ratings -->

                </div><!-- End .rating-container -->
                <div class="related-price">
                    {% gross product.price %}
                </div><!-- End .related-price -->
            </div>
            {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 or forloop.counter == 12 or forloop == 15 %}
                </li>
            {% elif forloop.last %}
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div><!-- End .related-slider -->
</div><!-- End .widget -->
