{% extends "base.html" %}
{% load staticfiles %}
{% load discounted_price_range price_difference from discount %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load markdown from markdown %}
{% load price_range from price_ranges %}
{% load spurl %}
{% block title %}{% trans 'Search' %}{% endblock %}


{% block breadcrumb %}
    {{ block.super }}
{% endblock %}



{% if text_search %}
{% endif %}
{% block content %}
    <div class="row">
        <aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
            <div class="widget">
                <div class="panel-group custom-accordion sm-accordion" id="category-filter">
                    <div class="panel">
                        <div class="accordion-header">
                            <div class="accordion-title"><span>{% trans 'Category' %}</span></div><!-- End .accordion-title -->
                            <a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-1"></a>
                        </div><!-- End .accordion-header -->
                        <div id="category-list-1" class="collapse in">
                            <div class="panel-body">
                                <ul class="category-filter-list jscrollpane">
                                    {% for category in categories %}
                                        <li class="category-father{% if category_selected.slug == category.slug %} activate"><a href="{% spurl base=request.get_full_path remove_query_param="category" %}" ><i class="fa fa-times"></i></a> {% else %} "> {% endif %}    <a href="{% spurl base=request.get_full_path set_query="category={{ category.slug }}" remove_query_param="page" %}">{{ category }}</a></li>
                                        {% for catchild in category.children.all %}
                                            <li {% if category_selected.slug == catchild.slug %}class="activate"><a href="{% spurl base=request.get_full_path remove_query_param="category" %}" ><i class="fa fa-times"></i></a> {% else %} > {% endif %}  <a href="{% spurl base=request.get_full_path set_query="category={{ catchild.slug }}" remove_query_param="page" %}">{{ catchild }}</a></li>
                                        {% endfor %}
                                    {% endfor %}

                                </ul>
                            </div><!-- End .panel-body -->
                        </div><!-- #collapse -->
                    </div><!-- End .panel -->

                    <div class="panel">
                        <div class="accordion-header">
                            <div class="accordion-title"><span>{% trans 'Price' %}</span></div><!-- End .accordion-title -->
                            <a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-3"></a>
                        </div><!-- End .accordion-header -->

                        <div id="category-list-3" class="collapse in">
                            <div class="panel-body">
                                <div id="price-range">
                                </div><!-- End #price-range -->
                                <div id="price-range-details">
                                    <span class="sm-separator">{% trans 'from' %}</span>
                                    <input type="text" id="price-range-low" value="{{ min_price_param }}" class="separator">
                                    <span class="sm-separator">{% trans 'to' %}</span>
                                    <input type="text" id="price-range-high" value="{{ max_price_param }}" max="2000">
                                </div>
                                <div id="price-range-btns">
                                    <button id="btn-search-range-price" class="btn btn-custom-2 btn-sm">{% trans 'Ok' %}</button>
                                    <a href="{% spurl base=request.get_full_path remove_query_param="page" remove_query_param="max_price" remove_query_param="min_price" %}" class="btn btn-custom-2 btn-sm">Clear</a>
                                </div>
                                <script>
                                    $("#btn-search-range-price").click(function(){
                                        var min_price =  $("#price-range-low").val();
                                        var max_price = $("#price-range-high").val();
                                        var sPageURL = window.location.search.substring(1);
                                        var url = setParamsUrl(sPageURL, 'min_price', min_price);
                                        url = setParamsUrl(url, 'max_price', max_price);
                                        window.location = window.location.origin + window.location.pathname + '?' + url;
                                    });
                                </script>
                            </div><!-- End .panel-body -->
                        </div><!-- #collapse -->
                    </div><!-- End .panel -->

                </div><!-- .panel-group -->
            </div><!-- End .widget -->

            {% load cms_tags %}

            {% placeholder 'sidebar_search' %}
{#            {% include "product/_v_featured_product.html" with featured_product_title="Featured." featured_product_description="Some featured products." featured_product_list=featured_products  %}#}


        </aside><!-- End .col-md-3 -->
        <div class="col-md-9 col-sm-8 col-xs-12 main-content">
            {% if category_selected %}
                <div id="category-header" class="category-banner">
                    <img src="/static/theme/images/banner.png" alt="Category banner" class="img-responsive">
                    <div class="category-title">
                        <h2>{{ category_selected.name }}</h2>
                        <p>{{ category_selected.description }}</p>
                        <!--<a href="#" class="btn btn-custom">LEARN MORE</a>-->
                    </div><!-- End .category-title -->
                </div><!-- End #category-header -->
            {% endif %}


            <div class="md-margin"></div><!-- space -->

            <div class="category-toolbar clearfix">
                <div class="toolbox-filter clearfix">

                    <div class="sort-box">
                        <span class="separator">{% trans 'Sort by' %}:</span>
                        <div class="btn-group select-dropdown">
                            <button type="button" class="btn select-btn">{{ order_by_param }}</button>
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% spurl base=request.get_full_path set_query="order_by=name" remove_query_param="page" %}">{% trans 'Name' %}</a></li>
                                <li><a href="{% spurl base=request.get_full_path set_query="order_by=price" remove_query_param="page" %}">{% trans 'Price' %}</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="view-box">
                        <a href="{% spurl base=request.get_full_path remove_query_param="style" %}" class="icon-button icon-grid {% if style_product == 'column' %} active {% endif %}"><i class="fa fa-th-large"></i></a>
                        <a href="{% spurl base=request.get_full_path set_query="style=list" %}" class="icon-button icon-list {% if style_product == 'list' %} active {% endif %}"><i class="fa fa-th-list"></i></a>
                    </div><!-- End .view-box -->

                </div><!-- End .toolbox-filter -->
                <div class="toolbox-pagination clearfix">
                    {% include 'product/_pagination.html' %}

                    <!--<div class="view-count-box">
                        <span class="separator">view:</span>
                        <div class="btn-group select-dropdown">
                            <button type="button" class="btn select-btn">10</button>
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">15</a></li>
                                <li><a href="#">30</a></li>
                            </ul>
                        </div>
                    </div>.view-count-box -->

                </div><!-- End .toolbox-pagination -->

            </div><!-- End .category-toolbar -->
            <div class="md-margin"></div><!-- .space -->
            {% if products %}
                {% if style_product == 'list' %}
                    {% include 'product/_product_list.html' %}
                {% else %}
                    {% include 'product/_product_column.html' %}
                {% endif %}
                <div class="pagination-container clearfix">
                    <div class="pull-right">
                        {% include 'product/_pagination.html' %}
                    </div><!-- End .pull-right -->

                    <!--<div class="pull-right view-count-box hidden-xs">
                        <span class="separator">view:</span>
                        <div class="btn-group select-dropdown">
                            <button type="button" class="btn select-btn">10</button>
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">15</a></li>
                                <li><a href="#">30</a></li>
                            </ul>
                        </div>
                    </div>-->
                </div><!-- End pagination-container -->
            {% else %}
                <p>{% trans 'This search dont have products.' %}</p>
            {% endif %}

            {% placeholder 'content_search' %}
        </div><!-- End .col-md-9 -->


    </div><!-- End .row -->

{% endblock %}


{% block footer_scripts %}
    <script src="{% static 'theme/js/jquery.nouislider.min.js' %}"></script>
    <script src="{% static 'theme/js/jquery.jscrollpane.min.js' %}"></script>

    <script>
        /* TODO: Set dynamic max price range */
        if ($.fn.noUiSlider) {
            $('#price-range').noUiSlider({
                range: [0, 10000],
                start: [{{ min_price_param }}, {{ max_price_param }}],
                handles: 2,
                connect: true,
                step: 1,
                serialization: {
                    to: [ $('#price-range-low'), $('#price-range-high') ],
                    resolution: 1
                }
            });
        }

        function setParamsUrl(url_params, nameParam, valueParam){
            var sUrlSearch = "";
            var sURLVariables = url_params.split('&');
            var is_param_exist = false;
            for (var i = 0; i < sURLVariables.length; i++){
                var sParamArray = sURLVariables[i].split('=');
                if (sParamArray[0] == nameParam){
                    is_param_exist = true;
                    sURLVariables[i] = sParamArray[0] + "=" + valueParam;
                }
                if(sParamArray[0] != 'page'){
                    if( (i + 1) != sURLVariables.length){
                        sUrlSearch += sURLVariables[i] + "&";
                    }else{
                        sUrlSearch += sURLVariables[i];
                    }
                }
            }
            if(is_param_exist == false){
                sUrlSearch += '&'+ nameParam +'=' + valueParam;
            }
            return sUrlSearch
        }

        function searchSubmit(){
            var q = $("#text-search").val();
            var sPageURL = window.location.search.substring(1);
            window.location = window.location.origin + window.location.pathname + '?' + setParamsUrl(sPageURL, 'q', q);
        }
        $("#quick-search-form").removeAttr('action');

        $("#quick-search").attr('type', 'button').click(function(){
            searchSubmit();
        });

        $("#text-search").val('{{ text_search }}').keyup(function(event) {
            if (event.which == 13) {
                searchSubmit();
            }
        });


    </script>
{% endblock %}