{% load i18n %}
{% load prices_i18n %}
{% load status %}

<div class="data-table-container">
    <table class="bordered hoverable responsive data-table">
        <thead>
            <tr>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Variation" %}</th>
                <th>{% trans "Stock" %}</th>
                <th>{% trans "Reserved" %}</th>
                <th>{% trans "Add" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for variant in stock_qs %}
            <tr>
                <td>
                    <a href="">{{ variant.product.name }}</a>
                </td>
                <td>
                    <a href="">{{ variant.name }}</a>
                </td>
                <td>
                    {{ variant.stock.first.quantity }}
                </td>
                <td>
                    {{ variant.stock.first.reserved }}
                </td>
                <td>
                    <a href="/dashboard/products/iostock/?variant={{ variant.pk }}&callback_url={{ request.get_full_path }}">{% trans "Add" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
