{% load i18n %}
{% load prices_i18n %}
{% load status %}

<div class="data-table-container">
    <table class="bordered hoverable responsive data-table">
        <thead>
            <tr>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Variation" %}</th>
                <th>{% trans "Stock" %}</th>
                <th>{% trans "Reserved" %}</th>
                <th>{% trans "Add" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stock_qs %}
            <tr>
                <td>
                    <a href="">{{ stock.variant.product.name }}</a>
{#                    <a href="{% url 'dashboard:order-details' order_pk=order.pk %}">#{{ order.id }}</a>#}
                </td>
                <td>
                    <a href="">{{ stock.variant.name }}</a>
                </td>
{#                <td>{% render_status order.get_last_payment_status order.get_last_payment_status_display %}</td>#}
                <td>
                    {{ stock.quantity }}
                </td>
                <td>
                    {{ stock.reserved }}
                </td>
                <td>
                    <a href="/dashboard/products/iostock/?variant={{ stock.variant.pk }}&callback_url={{ request.get_full_path }}">{% trans "Add" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
