#formset div.sizedimage-mod.initial{
    display: inline-block;
    max-width: 160px;
    word-wrap: break-word;
}

#formset div.sizedimage-mod.clear{
    display: inline-block;
    padding-left: 20px;
}

#formset div.sizedimage-mod.clear input{
    float: left;
}

#formset div.sizedimage-mod.clear label {
    padding-left: 20px;
    margin-left: 50px;
}

input[type=checkbox] {
  visibility: hidden;
}
