{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}{{ object.parent.title }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><span class="active">{{ option.title }}</span></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="col-md-6">
        <img class="img-thumbnail" src="{{ object.image.url }}" alt=""/>
    </div>
    <div class="col-md-6">
    <header class="content-title">
        <h1 class="title">{{ object.title }}</h1>
        <div class="md-margin"></div><!-- space -->
    </header>
    <p>{{ object.description|safe }}</p>
    </div>


{% endblock %}

