{% extends "base.html" %}
{% load as_vertical_form from bootstrap %}
{% load gross from prices_i18n %}
{% load i18n %}
{% load staticfiles %}
{% load common %}

{% block title %}{% trans "Your cart" %} — {{ block.super }}{% endblock %}


{% block breadcrumb %}
    {{ block.super }}
    <li><span class="active">{% trans "CART" %}</span></li>
{% endblock breadcrumb %}

{% block content %}

    <header class="content-title">
            <h1 class="title">{% trans 'Shopping Cart' %}</h1>
            <p class="title-desc">Just this week, you can use the free premium delivery.</p>
        </header>
    {% if cart %}
        <div class="col-md-12 table-responsive container-table-cart">

            <table class="table cart-table">
                <thead>
                <tr>
                    <th class="table-title">{% trans "Product" %}</th>
                    <th class="table-title">Product Code</th>
                    <th class="table-title">{% trans "Price" %}</th>
                    <th class="table-title">{% trans "Quantity" %}</th>
                    <th class="table-title">{% trans "Subtotal" %}</th>
                </tr>
                </thead>
                 <tfoot>
                    <tr>
                        <td class="hidden-xs" colspan="3"><button id="update-all-quantities" class="btn btn-default">{% trans 'Update all quantities' %}</button> </td>
                        <td class="text-right lead" colspan="">{% trans "Total" %}:
                        <td class="text-right lead"><b class="cart-total">{% gross cart.get_total %}</b></td>
                    </tr>
                </tfoot>
                <tbody>
                {% for group in cart %}
                    {% for line in group %}
                        <tr class="cart-item">
                            <td class="item-name-col">
                                <figure>
                                    <a href="{{ line.product.get_absolute_url }}">
                                        {% if line.product.product.images.first %}
                                            <img src="{{ line.product.product.images.first.image.crop.100x100 }}" >
                                        {% else %}
                                            <img src="{% static 'image/product-default.png' %}" alt="">
                                        {% endif %}
                                    </a>
                                </figure>
                                <header class="item-name">
                                    <a href="{{ line.product.get_absolute_url }}">{{ line.product.product }}</a>

                                </header>
                                <ul>
                                    <li>{{ line.product.display_variant }}</li>
                                    <li>{{ line.data|string_option|safe  }}</li>
                                </ul>

                            </td>
                            <td class="item-code">
                                {{ line.product.sku }}
                            </td>
                            <td class="item-price-col">
                                <span class="item-price-special">
                                    {% gross line.get_price_per_item %}
                                </span>
                            </td>
                            <td>
                                <form role="form" style="width: 135px;" action="{% url "cart:update_line" product_id=line.product.pk %}" class="form-cart" method="post">
                                    <input type="hidden" id="id_extra_data" name="extra_data" value="{{ line.data }}">
                                    <div class="custom-quantity-input {% if line.form.quantity.errors %} has-error{% endif %}">
                                        {{ line.form.quantity }}
                                    </div>
                                    <button class="btn btn-info pull-right" type="submit"><i class="fa fa-check"></i></button>
                                    {% if line.form.quantity.errors %}
                                        {% for error in line.form.quantity.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td class="item-total-col">
                                <span class="item-price-special" data-product-id="{{ line.product.pk }}">
                                    {% gross line.get_total %}
                                </span>
                                <button type="submit" class="close-button cart-item-remove"></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>

            </table>

        </div><!-- End .col-md-12 -->
        <div class="col-md-12 block-btn">
            <a href="{% url "checkout:index" %}" class="btn btn-custom btn-pull-right">{% trans "CHECKOUT" %}</a>
            <a href="/" class="btn btn-custom-2 btn-pull-right">{% trans "CONTINUE SHOPPING"%}</a>
        </div>

    {% else %}
        <p>
            {% trans 'Your cart is empty' %}
        </p>
    {% endif %}
{% endblock content %}


{% block footer_scripts %}
    <script>
       $('.cart-item-remove').click(function(){
           $(this).parents('tr').find('.form-cart').find('input[type="number"]').val('0');
           $(this).parents('tr').find('.form-cart').submit();
       });

        $('#update-all-quantities').click(function(){
           $('.cart-table').find('.cart-item').find('.form-cart').submit();
        });
    </script>
{% endblock %}
