{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Edit Address" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
    {% if address_form.instance.pk %}
        <li><span class="active">{% trans "Edit address" %}</span></li>
    {% else %}
        <li><span class="active">{% trans "New address" %}</span></li>
    {% endif %}
{% endblock breadcrumb %}

{% block content %}
    <div class="col-md-3 col-sm-4 col-xs-12 sidebar">
        {% include 'userprofile/_sidebar.html' %}
    </div>

    <div class="col-md-9 col-sm-8 col-xs-12">

        <header class="content-title">
            <h1 class="title">{% if address_form.instance.pk %} {% trans "Edit address" %} {% else %} {% trans "New address" %} {% endif %}</h1>
            <div class="md-margin"></div><!-- space -->
        </header>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <form action="." method="post">
                    {% csrf_token %}
                    {% bootstrap_form address_form %}
                    <div class="block-btn">
                        <button class="btn btn-custom-2 pull-right">{% trans "Save" %}</button>
                        <a href="{% url 'profile:details' %}" class="btn btn-link pull-right">{% trans "Cancel" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
