{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Delete address" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
    <li><a href=".">{% trans "Delete address" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="col-md-3 col-sm-4 col-xs-12 sidebar">
        {% include 'userprofile/_sidebar.html' %}
    </div>

    <div class="col-md-9 col-sm-8 col-xs-12">
        <h2>{% trans "Are you sure you want to delete the following address?" %}</h2>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{ address }}</h2>
                    </div>
                    <div class="panel-body">
                       <address>{% include "userprofile/snippets/address-details.html" with address=address %}</address>
                    </div>
                    <div class="pane-footer">
                        <form action="." method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger pull-right">{% trans "Delete" %}</button>
                            <a href="{% url 'profile:details' %}" class="btn btn-link pull-right">{% trans "Cancel" %}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
