{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Your profile" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><span class="active">{% trans "Your profile" %}</span></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="col-md-3 col-sm-4 col-xs-12 sidebar">
        {% include 'userprofile/_sidebar.html' %}
    </div>

    <div class="col-md-9 col-sm-8 col-xs-12">
        <header class="content-title">
            <h1 class="title">{% trans "Profile" %}</h1>
            <div class="md-margin"></div><!-- space -->
        </header>

        <p>
            <a href="{% url 'registration:change_password' %}" class="btn btn-default">{% trans 'Change your password' %}</a>
            <a href="{% url 'registration:request_email_change' %}" class="btn btn-default">{% trans 'Change your email address' %}</a>
        </p>
        <hr/>

        <h3>{% trans "Your address book" %} <a href="{% url 'profile:address-create' %}" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus-sign"></i> {% trans "Add new address" %}</a></h3>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-2">{% trans "Short alias" %}</th>
                    <th class="col-sm-4">{% trans "Addressee" %}</th>
                    <th class="col-sm-2">{% trans "Billing" %}</th>
                    <th class="col-sm-2">{% trans "Shipping" %}</th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
            <tbody>
                {% for address in addresses %}
                <tr>
                    <th class="col-sm-2">
                        {{ address }}
                    </th>
                    <td class="col-sm-4">
                        {{ address }}
                    </td>
                    <td class="col-sm-2">
                        {% if user.default_billing_address == address %}
                        <span class="label label-default">{% trans "Default" %}</span>
                        {% else %}
                        <form method="post" action="{% url "profile:address-make-default" pk=address.pk purpose="billing" %}" class="form-inline form-horizontal">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default btn-sm">{% trans "Make default" %}</button>
                        </form>
                        {% endif %}
                    </td>
                    <td class="col-sm-2">
                        {% if user.default_shipping_address == address %}
                        <span class="label label-default">{% trans "Default" %}</span>
                        {% else %}
                        <form method="post" action="{% url "profile:address-make-default" pk=address.pk purpose="shipping" %}" class="form-inline form-horizontal">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default btn-sm">{% trans "Make default" %}</button>
                        </form>
                        {% endif %}
                    </td>
                    <td class="col-sm-2">
                        <a href="{% url 'profile:address-edit' pk=address.pk %}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-edit"></i> {% trans "Edit" %}</a>
                        <a href="{% url 'profile:address-delete' pk=address.pk %}" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i> {% trans "Delete" %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




{% endblock content %}

