{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load favit_tags %}
{% block title %}{% trans "Your favorites" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans 'Your profile' %}</a></li>
    <li><span class="active">{% trans "Your favorites" %}</span></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="col-md-3 col-sm-4 col-xs-12 sidebar">
        {% include 'userprofile/_sidebar.html' %}
    </div>

    <div class="col-md-9 col-sm-8 col-xs-12">
        <header class="content-title">
            <h1 class="title">{% trans 'Your favorites' %}</h1>
            <p class="title-desc">Your products favorites. Add favorites products and know when new offert to interested product.</p>
        </header>

        <table class="table">
            <thead>
            <tr>
                <th class="table-title">{% trans 'Product' %}</th>
                <th class="table-title">{% trans "Actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% if products %}
                {% for product in products %}
                    <tr>
                        <td class="col-md-11" style="text-align: left;">
                            <div class="col-md-2">
                                {% if product.images.first %}
                                    <img class="img-thumbnail" style="min-width: 100px; min-height: 100px; width: 100px;" src="{{ product.images.first.image.crop.150x150 }}" alt="{{ product.name }}" draggable="false">
                                {% else %}
                                    <img class="img-thumbnail" style="min-width: 100px; min-height: 100px; width: 100px;" src="{% static 'images/product-image-placeholder.png' %}" alt="" >
                                {% endif %}
                            </div>
                            <div class="col-md-10">
                                <h5><a href="#">{{ product.name }}</a></h5>
                                <p>{{ product.description|safe }}</p>

                            </div>
                        </td>
                        <td class="col-md-1" style="vertical-align: middle; text-align: center;">
                            {% unfave_button product %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>{% trans 'You dont have favorites.' %}</p>
            {% endif %}

            </tbody>
        </table>
    </div>

{% endblock %}
