{% extends "base.html" %}
{% load i18n %}
{% load gross from prices_i18n %}

{% block title %}{% trans "Your orders" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans 'Your profile' %}</a></li>
    <li><span class="active">{% trans "Your orders" %}</span></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="col-md-3 col-sm-4 col-xs-12 sidebar">
        {% include 'userprofile/_sidebar.html' %}
    </div>

    <div class="col-md-9 col-sm-8 col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-2">
                        {% trans "Order #" %}
                    </th>
                    <th class="col-sm-2">
                        {% trans "Date" %}
                    </th>
                    <th class="col-sm-2">
                        {% trans "Price" %}
                    </th>
                    <th class="col-sm-2">
                        {% trans "Status" %}
                    </th>
                    <th class="col-sm-2">
                        {% trans "Last status change" %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td class="col-sm-2">
                            <a href="{{ order.get_absolute_url }}">{{ order }}</a>
                        </td>
                        <td class="col-sm-2">
                            {{ order.created }}
                        </td>
                        <td class="col-sm-2">
                            {% gross order.get_total %}
                        </td>
                        <td class="col-sm-2">
                            <span class="label label-default">{{ order.get_status_display }}</span>
                        </td>
                        <td class="col-sm-2">
                            {{ order.last_status_change }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}

