{% load materializecss %}
{% load utils %}
{% load common %}

    {% if field|is_checkbox %}
    <div class="col {{ classes.label }}">
        <div class="{{ classes.single_value }}">
            <p>
                {% if field.auto_id %}
                    {{ field }}
                    <label for="{{ field.auto_id }}" {% if field.field.required and form.required_css_class %}class="{{ form.required_css_class }}"{% endif %}>
                        {{ field.label }}
                    </label>
                {% endif %}
                {% for error in field.errors %}
                    <p class="help-block materialize-red-text">{{ error }}</p>
                {% endfor %}

                {% if field.help_text %}
                    <p class="help-block">
                        {{ field.help_text|safe }}
                    </p>
                {% endif %}
            </p>
        </div>
    </div>
    {% elif field|is_radio %}
    <div class="col {{ classes.label }}">

        {% if field.auto_id %}
            <label class="control-label {{ classes.label }}{% if not field.field.required %} optional{% endif %}">{{ field.label }}</label>
        {% endif %}
        {% for choice in field %}
              <p>
                {{ choice.tag }}
                <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
              </p>
        {% endfor %}

        {% for error in field.errors %}
            <p class="help-block materialize-red-text">{{ error }}</p>
        {% endfor %}

        {% if field.help_text %}
        <p class="help-block">
            {{ field.help_text|safe }}
        </p>
        {% endif %}
    </div>
    {% elif field|is_date_input %}
    <div class="col {{ classes.label }}">

        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="date" id="{{ field.auto_id }}" class="datepicker" name="{{field.name}}" value="{% if field.value %}{{ field.value }}{% endif %}" {% if field.field.widget.attrs.datavalue %}data-value="{{ field.field.widget.attrs.datavalue }}"{% endif %}>
            {% for error in field.errors %}
                <p class="help-block materialize-red-text">{{ error }}</p>
            {% endfor %}

            {% if field.help_text %}
            <p class="help-block">
                {{ field.help_text|safe }}
            </p>
            {% endif %}
    </div>
    {% elif field|is_select %}
    <div class="col {{ classes.label }}">
            {% if field|is_checkbox_select_multiple %}
                {% if field.auto_id %}
                    <label class="control-label {{ classes.label }} {% if field.field.required %}{{ form.required_css_class }}{% endif %}">{{ field.label }}</label>
                {% endif %}
                <div class="{{ classes.value }}">
                    {% for choice in field %}
                          <p>
                            {{ choice.tag }}
                            <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                          </p>
                    {% endfor %}

                    {% for error in field.errors %}
                        <p class="help-block materialize-red-text">{{ error }}</p>
                    {% endfor %}

                    {% if field.help_text %}
                    <p class="help-block">
                        {{ field.help_text|safe }}
                    </p>
                    {% endif %}
                </div>

            {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{field}}
                {% for error in field.errors %}
                    <p class="help-block materialize-red-text">{{ error }}</p>
                {% endfor %}

                {% if field.help_text %}
                <p class="help-block">
                    {{ field.help_text|safe }}
                </p>
                {% endif %}

                {% endif %}

    </div>

    {% elif field|is_textarea %}
        <div class="input-field col {{ classes.label }}">
            <textarea id="{{ field.auto_id }}" class="materialize-textarea {{ field.field.widget.attrs.class }}" name="{{field.name}}">{% if field.value %}{{ field.value }}{% endif %}</textarea>
            {% if field.auto_id %}
                <label class="active {{ classes.label }}{% if not field.field.required %} optional{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label>
            {% endif %}

            {% for error in field.errors %}
                <p class="help-block materialize-red-text">{{ error }}</p>
                {% endfor %}

            {% if field.help_text %}
                <p>
                    {{ field.help_text|safe }}
                </p>
            {% endif %}
        </div>

    {% elif field|is_file %}
        <div class="col {{ classes.label }}">
            <p>
            {% if field.auto_id %}
                <label class="{{ classes.label }} {% if field.field.required %}{{ form.required_css_class }}{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label><br>
            {% endif %}
            {{ field }}
            </p>
        </div>

    {% elif field|is_versatile_image_ppoi_click_widget %}
        {{ field }}
{#        #}
{#        <div class="col file-field input-field {{ classes.label }}">#}
{#            {% if field.auto_id %}#}
{#                <label class="{{ classes.label }}" for="{{ field.auto_id }}">{{ field.label }}</label>#}
{#            {% endif %}#}
{#            <div class="btn btn-sm">#}
{#                <span>File</span>#}
{#                <input class="file-chooser" id="{{ field.auto_id }}_0" name="{{ field.name }}_0" type="file">#}
{#                <input class="ppoi-input" id="{{ field.auto_id }}_1" name="{{ field.name }}_1" type="hidden">#}
{#                <br/>#}
{#            </div>#}
{#            {{ field }}#}
{#            <div class="file-path-wrapper">#}
{#                <input class="file-path validate" type="text">#}
{#            </div>#}
{#            {% for error in field.errors %}#}
{#                <p class="help-block materialize-red-text">{{ error }}</p>#}
{#                {% endfor %}#}
{##}
{#            {% if field.help_text %}#}
{#                <p>#}
{#                    {{ field.help_text|safe }}#}
{#                </p>#}
{#            {% endif %}#}
{##}
{#        </div>#}
    {% else %}

        <div class="input-field col {{ classes.label }}">
            <div class="price-wrapper">
                {{ field }}
                {% if field.auto_id %}
                    <label class="active{% if not field.field.required %} optional{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label>
                {% endif %}
            </div>

            {% for error in field.errors %}
                <p class="help-block materialize-red-text">{{ error }}</p>
                {% endfor %}

            {% if field.help_text %}
                <p>
                    {{ field.help_text|safe }}
                </p>
            {% endif %}
        </div>

    {% endif %}
